[2011-03-21 07:30] seregine opened #1 "signatures calculated incorrectly (hexdigest instead of digest)"
Hi,

Thanks for writing this gem! I'm working on the Java implementation of JWT, using the outputs of your Ruby gem to sanity check my results. I ran into an incompatibility and traced it to your use of OpenSSL::HMAC.hexdigest instead of OpenSSL::HMAC.digest (which is what the spec intends).

This is the spec I'm using:
http://self-issued.info/docs/draft-jones-json-web-token-01.html#anchor10

Your

[2011-03-22 01:50] #1 closed, assigned to nobody

[2012-03-05 03:57] dgrijalva opened #7 "Unable to specify signature header fields"
http://self-issued.info/docs/draft-jones-json-web-signature.html

There doesn't appear to be any way to specify additional fields for the header segment.  There are several other valid fields specified for this header.  The kid field is particularly interesting to me as it simplifies key rotation.

Any interest in supporting this stuff?

[2012-03-05 04:14] #7 closed, assigned to nobody

[2013-02-12 18:02] rwygand opened #14 "change to signature of JWT.decode method"
JWT.decode can now, since the inclusion of MultiJson, raise a MultiJson::Decode error from lines 67 and 68. This means that he method signature of decode has changed to raise both JWT::DecodeError and MultiJson::DecodeError. Was this change intentional? It's breaking some test cases of mine that expect a JWT::DecodeError to be raised.

[2013-04-02 01:13] #14 closed, assigned to nobody

[2014-01-08 19:07] SavithaK opened #26 "API request - JWT::decoded_header()"
It would be useful is the different segments can be exposed like a public getter that returns header = MultiJson.decode(base64url_decode(header_segment)). I need the header to extract the thumbprint and use the right secret to verify signature.

[2014-01-10 18:14] spieiga opened #27 "Release"
When will we get the next release?

[2014-01-10 18:44] #27 closed, assigned to nobody

[2014-01-14 19:38] beekus opened #28 "url safe encode and decode"
This issue pops up when I am trying to make a JWT assertion to a service that isn't implemented using this gem. I think there may be an issue with `base64url_encode`.

[code]

Shouldn't there be a closing curly brace on the above? I think you can use `Base64.urlsafe_encode64` and `Base64::urlsafe_decode64` instead of what you are doing in lines 38-45. I can submit a pull request with this unless t

[2014-01-15 12:57] #28 closed, assigned to nobody

[2014-02-01 02:33] #26 closed, assigned to nobody

[2014-05-05 13:17] keysen opened #36 "Update gem to get latest changes"
Hello,

I must check the algorithm found in the token to avoid some errors, because you can encode with HMAC or RSA, but if we choose RSA, we use #encode where the shared secret is an instance of RSA, and the problem it's that is different it's a string when we choose HMAC.

Because I store the shared secret in my DB, I want to make restriction on the availables algorithms.

Could you please updat

[2014-05-06 22:00] pezra opened #37 "Semantic versioning"
The last release included an incompatible change to `JWT`'s interface which broke several of my projects. Any chance we could switch to [semantic versioning](http://semver.org/) so that consumers of this API don't unsuspectingly upgrade to incompatible versions?

[2014-05-07 14:06] #37 closed, assigned to nobody

[2014-05-07 14:07] #36 closed, assigned to nobody

[2014-05-07 14:12] progrium opened #38 "Validate against draft 20"
http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-20

Not sure if contributions have kept us up to date, but we should double check and if it is update to date, the readme could use an update as to which spec it follows.

[2014-05-07 19:45] ghost opened #39 "yanking of version 0.1.12 causes issues"
http://stackoverflow.com/questions/23526673/cannot-push-to-heroku-bundler-fails

[2014-05-07 20:01] #39 closed, assigned to nobody

[2014-05-08 17:30] resistorsoftware opened #40 "Catch up for ActiveWhatever 4.1.1 series"
When upgrading to Active* 4.1.1 my bundle quits on jwt 0.1.12 not being found.
For now I am adding this to my Gemfile:

     gem "jwt",  "0.1.12", :git => 'https://github.com/progrium/ruby-jwt.git', :tag => 'jwt-0.1.12'

Any idea when this gem will hit rubygems at that version?

[2014-05-25 23:31] Foxandxss opened #41 "The behavior using 'json' differs from 'multi_json'"
Having in mind I just started with JWT a while ago, I see a difference between the two.

Back on node, I could save a simple integer as payload or even a string.

Here, I can do that also if I have `multi_json` but if not, it raises an exception so I am forced to save a hash.

It is not that important but it bugged me a while.

What do you think?

[2014-06-15 13:45] rolandjitsu opened #42 "set token to expire"
Is it possible to set an expiration date on the token? Or do we have to do this manually by specifying a header key and comparing that ourselves with the current date?

[2014-10-17 16:35] #42 closed, assigned to nobody

[2014-10-29 20:34] Prandium opened #46 "Needs to support asymmetric key signatures over shared secrets"
Currently, you are using a shared secret to validate the signature of the JWT messages. This entirely defeats the purpose of signing the message and would only be suitable if you were encrypting and not signing the message. The idea behind signing a message is that only the originator can generate the signature and that signature can be validated but not forged. In your implementation any node tha

[2014-11-02 00:24] toshe opened #47 "Release a new version"
Can you please release a new version? The latest version in the gem repository does not include the `exp` claim implementation which is really practical. :)

[2015-01-02 04:26] excpt opened #50 "Preperations for version 2.x"
@see pull request progrium/ruby-jwt#49

[2015-01-13 10:39] rajgurung opened #51 "JWT.encode({"exp": 10}, "secret")"
This seems to be not working. I am using gem 'jwt', ~> 1.2.0

<b>Error Message</b>
SyntaxError: (irb):3: syntax error, unexpected ':'
JWT.encode({"exp": 10}, "ssss" )

[2015-01-13 10:39] rajgurung opened #52 "JWT.encode({"exp": 10}, "secret")"
This seems to be not working. I am using gem 'jwt', ~> 1.2.0

<b>Error Message</b>
SyntaxError: (irb):3: syntax error, unexpected ':'
JWT.encode({"exp": 10}, "ssss" )

[2015-01-13 10:40] #51 closed

[2015-01-13 10:55] excpt commented on #52
This syntax is supported only by the latest ruby versions:
[code]

Try this syntax instead:

[code]

[2015-01-13 11:44] rajgurung commented on #52
Thanks that syntax worked perfectly!

[2015-01-13 11:44] #52 closed

[2015-01-23 18:09] excpt commented on #47
New version 1.2.1 released.

[2015-01-23 18:09] #47 closed

[2015-01-24 08:03] takashi commented on #47
:tada:

[2015-01-26 08:10] #50 closed

[2015-01-26 08:10] #40 closed

[2015-02-02 16:03] dmitrinesterenko opened #54 "What is the reason behind stripping the = in base64 encoding?"
Hi All,

Curious what's the reason behind stripping the = padding that results in base64 encoding?   https://github.com/progrium/ruby-jwt/blob/85c7c8813e064ecf3d07ac799cc478eb413c4e48/lib/jwt.rb#L46

[2015-02-02 16:05] excpt commented on #54
It's defined that way in the JOSE specifications to be compatible with different systems.

[2015-02-02 18:03] dmitrinesterenko commented on #54
Ok thank you for the explanation, was surprised to not see '=' as it seems like a slight redefinition of base64encoding.

[2015-02-02 18:03] #54 closed

[2015-02-11 23:29] scottbarrow opened #55 "Incorrect readme for leeway"
Readme incorrect parameter documentation, missing hash rocket

specs:
ln:155 `decoded_payload = JWT.decode(jwt, secret, true, {:leeway => 3})`
readme:
`JWT.decode(jwt_payload, 'secret', true, leeway=10)`

[2015-02-11 23:34] #55 closed

[2015-02-11 23:35] excpt commented on #55
Fixed.

Thanks for reporting. :+1:

[2015-02-23 10:47] punkle opened #57 "Signature Verification to Return Verification Error rather than decode error"
Failure to verify the signature of a JWT token currently raises a DecodeError. This error is misleading when the source of the error is validation of the signature.

[2015-02-23 11:36] #57 closed

[2015-02-23 11:42] excpt commented on #57
Thanks again for fixing another little issue. :beers:

[2015-02-25 17:21] punkle opened #59 "Support verifying signature signed using x5c header"
It is currently possible to verify the signature of a jwt token using the x5c header by providing a key finder function. e.g.

[code]

In order to validate the x5c certificate chain in full, I must provide my own implementation. It would be great if ruby-jwt gem could support the validation of the x5c certificate chain natively.

Here is an excerpt from https://tools.ietf.org/html/draft-ietf-jose-

[2015-02-25 17:28] excpt commented on #59
We need to implement JWK for that. You may have a look at the 2.x branch.

[2015-02-25 20:24] #41 closed

[2015-03-11 03:25] k1w1 opened #66 "Verify ISS should be off by default"
It looks like 1.4.0 adds a new feature to verify the iss claim. The problem is that this feature is enabled by default, so if existing code doesn't specify an iss value for the options then the verification fails.

It seems that for backwards compatibility `:verify_iss` should be false.

[2015-03-11 07:30] excpt commented on #66
Can you please provide sample code when this is the case in your application?

[2015-03-11 09:55] ojab commented on #66
The same here. Basically I'm doing this:
[code]

[2015-03-11 10:05] ZhangHanDong commented on #66
@ojab

[code]

[2015-03-11 11:34] excpt commented on #66
@ojab @k1w1 It's a bug. Thanks for reporting.

If verify is set to false the token will still be validated when iss is present in the payload.

My test code:
[code]

I think we should set the default option to the verify value when you call decode.

[code]

JWT.decode should set all default_options to false but by default they are always set to true. This causes the crashes.

You can enable specif

[2015-03-11 16:51] danleyden opened #68 "jti verification not working per the spec"
The jti verification implemented here supports a variant of the spec, but is far to limited to a specific use case.

The spec (see https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.7) stipulates that the claim should be a unique ID, but not an algorithm for generating such a unique ID. The supported verification here would enforce a specific algorithm, requiring an iat cla

[2015-03-11 17:20] danleyden commented on #66
I'm unconvinced that the verification method is actually correct per the spec.

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 states that "The processing of this claim is generally application specific.", so likely not a good candidate for implementing in a library in this way.

Take, for example, the case where the issuer may be one of thousands of possible issuers,

[2015-03-11 18:24] excpt commented on #68
Thank you for taking the time to clarify the specification details.

[2015-03-11 18:27] excpt commented on #66
Thank you for taking the time to clarify the specification details.

In this case I think we should drop the verification for sub, iss and jti (#68) until we have a solution.

[2015-03-12 02:51] ZhangHanDong commented on #66
@danleyden  thanks for  your explain.
@excpt
Sorry for pull in  the solutions of defects , beacuse I  did'nt consider the case of more .

[2015-03-12 06:21] brancusi commented on #66
Thanks, having the same issue here. Specifically I cannot verify against sub but it's in the payload.

[2015-03-12 09:07] danleyden commented on #66
@ZhangHanDong - no worries. I've read through the RFCs, and had to re-read them several times as they are quite extensive and not immediately obvious, particularly with the interplay of the different RFCs involved here. I can see where you were going and, for many applications, it is exactly the right thing to do.

[2015-03-12 09:35] excpt commented on #66
Quick fix:

I set the default behavior for the the optional claim verification to false and release 1.4.1 to get rid of this bug so everyone can keep on using the jwt gem without breaking the code.

As a next step we should bump our heads together and find a solution to make these validatons work without introducing new bugs.

[2015-03-12 09:52] #66 closed

[2015-03-12 09:54] #68 closed

[2015-03-12 10:22] excpt commented on #66
@k1w1 @ojab @brancusi 1.4.1 Released. Optional claim verification set to false by default.

[2015-04-01 14:08] kurtisnelson commented on #46
This should get put in the README, I had to google to find this.

[2015-04-01 18:32] toshe commented on #46
contributing is not a crime, you know ;)

[2015-04-02 10:13] excpt commented on #46
@kurtisnelson Thanks for bringing this up again. :)

The README / documentation really needs some updates. Working on it this weekend.

[2015-04-07 18:12] iffy opened #73 "jti verification doesn't prevent replays"
According to the [spec](http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-25#section-4.1.7) the `jti` claim is intended (can be used) to prevent replay attacks.  This implementation doesn't do that, correct?

https://github.com/progrium/ruby-jwt/blob/master/lib/jwt.rb#L156

If so, then is it misleading to claim support for `jti` on this page: http://jwt.io/ ?

I don't know Ruby and I don'

[2015-04-07 18:23] excpt commented on #73
That's right, at the current state of ruby-jwt there's no replay prevention implemented.

At the moment the replay prevention code has to be implemented by each project individually. IMHO we are supporting jti claim verification and this can be displayed on the jwt.io site. How to handle the exact jti values and replay prevention is a part for the developer how uses this lib at the moment.

[2015-04-17 10:21] danleyden opened #75 "decode fails with 'none' algorithm and verify"
When providing a token that has the algorithm 'none' to the decode method, a decode error is raised from line 87 with the error message 'Not enough or too many segments'.

This can be suppressed by disabling verification when decoding, but that has knock-on effects of other claims not being verified.

I believe the correct behaviour should be that, when the algorithm is 'none' and the token is oth

[2015-04-17 10:39] excpt commented on #75
Does your none-token have a . (dot) as the last character?

[2015-04-17 10:47] danleyden commented on #75
it does indeed.

Generated using `JWT.encode(payload, 'some key that gets ignored', 'none', my_header)`

I believe the RFC calls for the trailing '.' in the case of the 'none' algorithm (see section 6.1), so I believe the token is correct. This is to indicate that the signature is actually the empty string.

[2015-04-17 10:52] excpt commented on #75
I just needed to know this. This is a bug. Thanks for reporting. :)

[2015-04-20 09:04] desmondhume opened #76 "Check JWT vulnerability"
Can somebody tell me if this gem is affected by [this vulnerability](https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/) in some way?

Thanks

[2015-04-20 09:30] danleyden commented on #76
It *may* be depending on how you are using it.

If you disable verification when calling decode, you are vulnerable.

Assuming you do not disable verification, you may still be vulnerable. It is possible to specify the algorithm in the options passed to decode. If you enforce the algorithm, then your application will not be exposed to that vulnerability.

If you do not enforce the algorithm when d

[2015-04-21 03:44] thedeeno commented on #76
@danleyden I think the reliance on the alg header should be dropped and decode should accept a parameter for the algorithm like the author of the op's article suggests. What do you think?

I can patch this. I would replace decode's second parameter 'verify' with a string that specifies the algorithm. If a consumer wishes to skip verification they can use the algorithm "NONE". I can assume false me

[2015-04-21 08:17] danleyden commented on #76
@thedeeno The alg header is really important and useful in some use cases and its use should not be dropped - it is an important (required) part of the spec.

Take for example the case where multiple algorithms are acceptable to the service receiving the token. In order to ensure that the token is valid, the library needs to know specifically which algorithm was used to generate the signature (or

[2015-04-21 11:50] thedeeno commented on #76
@danleyden I think this library should be secure by default. It makes me nervous that consumers need to use optional parameters to protect against vulnerabilities.

I think breaking backwards compatibility to close a security vulnerability is worth it. If this requires a major version bump, then so be it.

Most people will use the simplest API available when starting to use this library; making be

[2015-04-21 21:48] thedeeno commented on #76
@danleyden Hmm, [it appears](https://github.com/progrium/ruby-jwt/blob/jwt-1.4.1/lib/jwt.rb#L123) `1.4.1` doesn't support the `:algorithm` option. Master does. Perhaps a new release should be cut so users can work around this vulnerability without being forced to track head?

[2015-04-21 21:55] thedeeno commented on #76
Sorry for the email spam. We can't track the head from `Gemfile` easily either, since there's no `.gemspec` in repo.

[2015-05-04 18:14] toshe opened #77 "TypeError when specifying a wrong algorithm"
So I ran my usual tests against tampered keys and I got a TypeError under MRI (2.0):

1. Provide a tampered token with `"alg": "HSMAC"` (with a valid signature)
2. Try to verify the token with an RSA public key
3. `TypeError: no implicit conversion of OpenSSL::PKey::RSA into String`

I've monkeypatched my app to also rescue `TypeError` and not just `DecodeError` but this is just a temporary soluti

[2015-05-09 06:47] #46 closed

[2015-05-09 06:50] #76 closed

[2015-05-10 11:28] excpt commented on #46
@Prandium I improved the documentation and added a better example.

[2015-05-11 00:11] AlexParamonov commented on #77
Regarding passing the algo. It has been merged: https://github.com/progrium/ruby-jwt/pull/71/files#diff-561abf25ed278547a89be325d40babacR126 and on ruby gems now.

[2015-05-11 00:16] AlexParamonov opened #78 "Fix either README or source code"
I found that README has incorrect (not yet implemented) examples.
I do use the `iss` check in the app and implemented it using my wrapper class.

After the 1.5 released, I removed the wrapper and tested the jwt gem. It appears that it requires special "setup" before:
https://github.com/progrium/ruby-jwt/commit/5c09aadc7c9e94eeb319e36a2d5a98efc607149f#commitcomment-11125584

[2015-05-11 13:35] excpt commented on #38
We have now all claims implemented and all algorithms. I think we can close this issue now. :)

[2015-05-11 13:37] excpt commented on #73
A basic replay attack prevention is by now implemented.

[2015-05-11 13:37] #73 closed

[2015-05-11 13:38] #38 closed

[2015-05-11 13:39] #77 closed

[2015-05-11 13:44] excpt commented on #78
@AlexParamonov I updated the docs. I ran all the code snippets. Will you review the changes?

[2015-05-11 14:46] AlexParamonov commented on #78
@excpt looks good. We can close the issue now

[2015-05-11 14:47] #78 closed

[2015-05-14 21:19] excpt commented on #75
@danleyden If you find some time you can checkout the rspec-test-refactoring branch and test the updated code.

[2015-05-15 07:51] danleyden commented on #75
Thanks @excpt - that looks like it fixes the bug.

However, that does open the door for third parties tampering with the token in the default use case..

Take the case where I send a valid, signed (not encrypted) token with e.g. RS256. A man in the middle could intercept that token, remove the signature and alter the alg claim to 'none' and send it on as a valid token. In this case, unless the imp

[2015-05-15 07:51] #75 closed

[2015-05-15 11:05] excpt commented on #75
Thanks for testing. I will remove that fix and the documentation is already updated.

[2015-05-15 20:41] rjharmon opened #79 "Doc mismatch: uninitialized constant JWT::ExpiredSignature"
Readme says to look for JWT::ExpiredSignature, but the code doesn't have such an exception class defined.  It just throws a generic decoding error.

[2015-05-16 08:21] excpt commented on #79
I cannot reproduce the error. When using an invalid exp claim in the token it will raise a correct JWT::ExpiredSignature error.

Can you please provide sample code and which version of the jwt gem you are using?

[2015-05-19 04:02] rjharmon commented on #79
Apologies.  I had been Gemfile.lock'd into an old version via a previously-unknown secondary dependency on this Gem.  Updated that other dep, now I get a modern jwt gem.

Thank you!

[2015-05-19 04:02] #79 closed

[2015-05-28 13:05] soumyaray opened #80 "Introduce JWE support"
Great gem!  Any plans in the roadmap to add JWE support to encrypt payloads?

[2015-06-02 06:15] lwe opened #81 "Shouldn't verification of additional claims, like iss, aud etc. be enforced when in options?"
First of all - thanks for the great gem!

What I've stumbled upon while using the gem is the verification of additional attributes, like e.g. the `"iss"` claim. When `"iss"` is supplied to the options in `JWT.decode` it is not enforced or checked, even when `verify_iss` is set to true **as long as it's not present in the actual payload**. Basically I've had the following decoding code:

[code]

an

[2015-06-02 06:56] lwe commented on #81
In the meantime I've checked a few other libraries, noteably:

- Java, https://bitbucket.org/b_c/jose4j/src/ab4080d997c9eb56b47f0ca942cdd21de2586178/src/main/java/org/jose4j/jwt/consumer/IssValidator.java?at=master
- Python
- Node.JS, https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L181

and they all **check** the issuer claim when it's present in the options.

[2015-06-02 13:46] excpt commented on #81
This is a bug. After inspecting the code, the verification is triggered only when the iss payload is present. See: https://github.com/progrium/ruby-jwt/blob/master/lib/jwt.rb#L166

This affects also all the other verifications.

Thanks for reporting. If you find the time to provide a PR I'd be happy to merge it.

[2015-06-02 13:53] lwe commented on #81
All right, I'd propose the following

1. Setting `verify_iss` and `verify_aud` by default to `true`
2. Change the conditions to be like `if options[:verify_iss] && options["iss"]`...

This change then has verification of issuer enabled - as soon as `iss` option is set, or would you prefer to leave `verify_iss` to be false by default?

PS: Btw, what is the reasoning behind using `"iss"` as option a

[2015-06-02 14:07] excpt commented on #81
I agree with your proposal. With these changes it would become more easy to setup the library and check created tokens. But this would break the current api. In this case it would be required to switch to version 2.0. I don't have a problem with this next version step.

The use of 'iss' instead of :iss was a mistake in the code review process. It simply slipped through and now it is in the current

[2015-06-02 14:12] lwe commented on #81
Then I'd propose the following:

- Bugfix release 1.5.x, where `verify_iss` and `verify_aud` are still set to to `false` -> will create a PR for this part
- Breaking changes to be introduced in a 2.0 release, looking at how the current verification works, I think there are a few other areas that could be slightly adapted (similar issues, e.g. there's no way of saying: _Hey, I require an `exp`_)

[2015-06-02 14:17] excpt commented on #81
Sounds excellent. :+1:

If you have some ideas for version 2.0 send me a mail.

[2015-06-02 14:22] excpt commented on #81
I just created a google group. https://groups.google.com/forum/#!forum/ruby-jwt Drop your ideas there. :)

[2015-06-02 14:57] lwe commented on #81
Created a PR, so I'm closing this.

[2015-06-02 14:57] #81 closed

[2015-06-02 15:12] excpt commented on #80
This would be great feature to be introduced. The JWE spec is quite large and supports a lot of algorithms. This could be great enhancement for version 2.0. Are you willing to provide some help to introduce this feature? We are always looking for people to do some code reviews, test the features introduced in the master branch or to improve the documentation.

[2015-06-02 23:32] soumyaray commented on #80
Welp!  what did I get myself into?   But yes, I'm happy to take a look into JWE.  BTW, how do you see the direction of ruby-jwt differ from [json-jwt](https://github.com/nov/json-jwt)?

[2015-06-03 18:39] fproulx-pbox opened #83 "iat check does not use leeway so nbf could pass, but iat fail"
If server clocks are not perfectly synced and we use leeway:
nbf verification uses leeway, but iat verification does not which makes it unreliable...

[2015-06-06 02:09] mark-adams opened #84 "ECDSA signature verification fails for valid tokens"
ruby-jwt fails with a `Signature verification failed (JWT::VerificationError)` error when decoding a valid JWT signed with ES512. I believe this is due to an issue with improper ECDSA signature serialization format where the signature parameters are not concatenated in the proper order. The improper serialization results in an implementation being able to successfully verify its own JWTs but not t

[2015-06-06 12:43] excpt commented on #80
There's no difference in using jwt over json-jwt. In the end it's what you prefer to use a more OOP style approach to implement the JWT specs or the more chaotic way we currently have ;)

[2015-06-14 21:06] #84 closed

[2015-06-15 09:51] excpt commented on #84
@jurriaan Thanks for your contribution! :+1:

[2015-07-20 19:46] #83 closed

[2015-07-20 19:51] aj-michael commented on #80
Is anyone actively working on this? If not, I may take a stab.

[2015-08-05 14:11] stunney commented on #59
Don't forget, you need the ENTIRE certificate chain in that field.  The signing certificate *first* followed by each intermediate and root CA that owns that one.

[2015-08-05 14:19] punkle commented on #59
@stunney It 'MAY' contain the entire certificate chain. The last certificate in the x5c chain could be rooted in a  certificate store managed by the entity validating the token.

[2015-08-05 14:27] stunney commented on #59
You are correct.  The first must be the cert that signed the token.  The rest are optional.

[2015-08-05 21:32] aj-michael opened #95 "Options hash uses both symbols and strings as keys."
I tried to verify the issuer on a JWT that I was decoding today, and I found this line (and others like it) very ugly.

[code]

This means that my code to decode the JWT looked like this:

[code]

In my opinion, the consumer of this API should be be able to do one of the following:

1. Always use symbols as keys in the options hash.
2. Always use strings as keys in the options hash.
3. Be able to

[2015-08-06 20:22] krzkrzkrz opened #96 "What is audience?"
What exactly is `aud` (audience)? Can this represent roles of the user session / owner of the token? i.e. admin, guest, etc?

[2015-08-06 20:24] krzkrzkrz opened #97 "Is it possible to decode the payload without validating the signature?"
Is it possible to decode the payload without validating the signature?

[code]

[2015-08-06 20:25] aj-michael commented on #96
This library implements RFC5719. See Section 4.1.3 for the description of the `aud` claim.

https://tools.ietf.org/html/rfc7519#section-4.1.3

In practical use, this tends to be the "client id" or "client key" of the application that the JWT is intended to be used by. It allows the client to verify that the JWT was sent by someone who actually knows who they are.

[2015-08-06 20:27] krzkrzkrz commented on #96
Ok, so roles like `admin`, `guest`, etc don't fit here, i guess?

[2015-08-06 20:28] aj-michael commented on #97
Yes. As discussed in the README, the third (optional) parameter of `::JWT.decode` is a boolean that is whether or not to check validation. It will typically look like this:

[code]

If you think the README is not descriptive enough of this matter, please send a pull request that addresses what part confused you.

[2015-08-06 20:31] krzkrzkrz commented on #97
Ahhh, README is fine. I must have missed it. 4am here. Closing for now. Thanks

[2015-08-06 20:31] #97 closed

[2015-08-06 20:31] aj-michael commented on #96
It's difficult for me to guess what you mean by "don't fit here". This library will not stop you from putting `{ 'aud' => 'guest' }` into a hash and encoding it as a JWT.

What are you trying to do with JWTs?

[2015-08-06 20:34] krzkrzkrz commented on #96
This isnt really library specific. I'm just trying to understand if setting the user role type into the `aud` key meets the RFC. Is the `aud` intended for that purpose?

[2015-08-06 20:48] aj-michael commented on #96
Ah I see. Well, the RFC has nothing to do with users at all. It is about transferring abstract claims in a secure fashion.

From the RFC:

The "aud" (audience) claim identifies the recipients that the JWT is intended for.  Each principal intended to process the JWT MUST identify itself with a value in the audience claim.  If the principal processing the claim does not identify itself with a value

[2015-08-06 21:00] aj-michael commented on #59
adding to this, using a keyfinder block is really ugly if you have additionaly options to pass in.

[code]

I don't like that I have to pass in a key (nil) that is going to be ignored anyways. Especially since I have to pass in an options has to do full validation in accordance with the RFC.

[2015-08-06 21:58] krzkrzkrz commented on #96
Thanks a lot for that explanation. Clears things up a bit

[2015-08-06 21:58] #96 closed

[2015-08-06 22:25] aj-michael commented on #96
Np :smile:

[2015-09-02 09:36] excpt opened #100 "Test ticket from Code Climate"

[2015-09-02 09:38] #100 closed

[2015-09-04 05:08] yordis commented on #95
:+1: for symbol only until someone complain about it :smile:

[2015-09-04 10:41] excpt commented on #95
:+1: symbols only :)

[2015-09-15 17:49] skippy commented on #95
+1

This is an issue beyond semantics... @aj-michael  it is a security hole.

I pass in the following:
`{:aud=>"test_aud_id", :verify_aud=>true}`

and it decodes the token successfully.  The hole is it decodes *regardless* of what the `aud` is.  You can see this bug in line jwt.rb#172 `if options[:verify_aud] && options['aud']`

if I pass in:
`{:aud=>"test_aud_id", :verify_aud=>true, :verify_iat=>

[2015-09-16 10:45] excpt commented on #95
@aj-michael @yordis @skippy :)

[2015-09-16 16:48] skippy commented on #95
@excpt fair enough!  I wasn't trying to be snarky.  Thank you for the fast PR!

[2015-09-16 23:54] skippy opened #102 "aud verifies if aud is passed in, :sub does not"
If you pass in :aud and :verify_aud, then it will fail if :aud is not in the payload.

the equivalent is not true for :sub.  If you pass in :sub but it is not in the payload, it won't do anything.  I would expect the behavior of :aud, which is if you ask to verify_sub, it will fail if it isn't in the payload.

if that sounds reasonable, I'll submit a patch.  thanks!

[2015-09-17 06:29] yordis commented on #95
@excpt awesome, very good clean there :+1:

[2015-09-17 12:34] excpt commented on #102
It should behave like the :aud validation.

[2015-09-17 12:36] #95 closed

[2015-09-17 20:47] #102 closed

[2015-09-21 21:05] excpt opened #104 "Test ticket from Code Climate"

[2015-09-21 21:05] #104 closed

[2015-09-21 21:11] excpt opened #105 "Fix "Rubocop/Metrics/CyclomaticComplexity" issue in lib/jwt.rb"
Cyclomatic complexity for decode is too high. [35/6]

https://codeclimate.com/github/jwt/ruby-jwt/lib/jwt.rb#issue_56006e721821830001469cf0

[2015-09-21 21:12] excpt opened #106 "Fix "Rubocop/Metrics/CyclomaticComplexity" issue in lib/jwt.rb"
Cyclomatic complexity for verify_signature is too high. [8/6]

https://codeclimate.com/github/jwt/ruby-jwt/lib/jwt.rb#issue_56006e721821830001469cf1

[2015-10-06 19:45] aarongray opened #107 "Must we specify algorithm when calling decode to avoid vulnerabilities?"
First of all, cool library. I was reading through the closed issues, and noticed https://github.com/jwt/ruby-jwt/issues/76. It seems to suggest that in order to be sure you are safe from [this vulnerability] (https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/) affecting RSA and ECDSA algorithms, you need to specify the algorithm when decoding a JWT, like so: `J

[2015-10-06 20:37] excpt commented on #107
Hi Aaron. You have to specify the algorithm to enable the verification (see lib/jwt.rb line 152 to 158: https://github.com/jwt/ruby-jwt/blob/master/lib/jwt.rb#L152). There is no other way to be sure. It has to be specified.

If your server receives a token, only your server knows the original algorithm that has been used to encode the token.

IMHO there's currently no better way to implement this.

[2015-10-06 21:03] aarongray commented on #107
Sounds good, thanks for the clarification. I'll be happy to make a PR to update the docs to make it more clear to new users.

[2015-10-07 07:34] excpt commented on #107
Thanks for the pull request. Merged. :+1:

[2015-10-07 07:34] #107 closed

[2015-10-09 20:30] kjwierenga opened #110 "Suggest passing block to JWT.decode for claim verification"
The current method for verifying the JTI field in the token payload is only useful when the JTI value to compare against is known a priori (when making the call to `JWT.decode`).

**Summary: Using a block parameter or callback on `JWT.decode` to verify claims (passing the decoded payload/claims) would be more flexible and nicer API IMHO**

When the JTI value is dependent on information in the toke

[2015-10-10 10:11] kjwierenga commented on #110
I've also looked at how JWT libraries in other languages such as [Perl](http://search.cpan.org/~mik/Crypt-JWT-0.010/lib/Crypt/JWT.pm) support claim verification. The Perl library supports passing a regular expression or callback function, but the callback function only receives the specific claim value as argument which doesn't solve our original problem.

The [json_web_token Ruby gem](https://git

[2015-10-27 19:08] jsanders opened #111 "Add a changelog"
I was just notified that version 1.5.2 has been released and I'm finding it difficult to evaluate whether or not to make it a priority to upgrade the version I'm using, because there is a lot of changed code and many commits to evaluate. A changelog summarizing the major changes in new versions and what they mean to users would be very nice to have.

I'm willing to work on putting it together, but

[2015-10-27 19:52] excpt commented on #111
Changelog: https://github.com/jwt/ruby-jwt/releases/tag/jwt-1.5.2

Thanks for the hint.

[2015-10-27 20:04] jsanders commented on #111
@excpt: Ah! Totally missed that, thanks for the link.

[2015-10-27 20:05] excpt commented on #111
Just fixed that. ;) :beers:

[2015-10-27 20:05] #111 closed

[2015-10-27 20:57] jsanders commented on #111
Ah, cheers.

[2015-10-27 23:55] ak47 commented on #110
+1 for this,
just working through JWT validation and this is exactly the question I had - if the JTI is sent out, and I have no other record of it, how do I supply it to the verify unless it is pulled from the payload?

awkward

[2015-11-24 05:31] stantoncbradley opened #115 "verify_rsa no method 'verify' for class String"
I recently switched my encoding algorithm from HS256 to RS256 and can no longer verify my tokens.  Line 59 in jwt.rb seems to be the problem:

```public_key.verify(OpenSSL::Digest.new(algorithm.sub('RS', 'sha')), signature, signing_input)```

raises a no method error, no method 'verify' for type String.  My public key is a string (no sure what else it should be?), and I don't see verify defined an

[2015-11-24 05:38] stantoncbradley commented on #115
For context, I'm using Auth0 and Knock, if that helps.

[2015-11-24 05:46] stantoncbradley commented on #115
This seems to be a limitation of Knock, not ruby-jwt.  Apologies.

[2015-11-24 05:46] #115 closed

[2015-12-05 10:49] kenzan100 commented on #80
@aj-michael I'm looking forward to your work!

[2015-12-22 19:35] #106 closed

[2015-12-22 19:36] #105 closed

[2015-12-25 08:27] leeduc opened #119 "Digest::Digest is deprecated; use Digest"
In Rails 4.2.4, I see this warning from the OpenSSL call within encode when testing use rspec:

[code]

[2015-12-25 15:35] excpt commented on #119
I'd recommend to update you ruby-jwt gem version. It looks like you are using an outdated version (0.1.8).

[2015-12-28 02:39] leeduc commented on #119
it's worked, thanks :+1:

[2015-12-28 08:06] excpt commented on #119
Great. :)

[2015-12-28 08:06] #119 closed

[2016-01-12 14:52] excpt opened #120 "Refactor obsolete code for ruby 1.8 support"
Refactor the jwt/json.rb file.

[2016-01-12 14:53] excpt opened #121 "Refactor the encondig code"
Refactor the encoding code. Extract it from the jwt.rb monolith into a separate jwt/encode.rb file.

[2016-01-12 15:28] #120 closed

[2016-01-13 13:42] aomega08 commented on #80
I've just published a gem to encrypt and decrypt JWE ciphertexts. It does not support all the key management methods listed by its specification but I think it would be a good fit for this job. See: https://github.com/aomega08/jwe

[2016-01-13 13:48] excpt commented on #80
@aomega08 Thanks for the contribution to the open source community. :+1: :tada:

I will check your gem if it fits into the library.

[2016-01-18 08:37] kwando opened #124 "Verify tokens without throwing exceptions"
It would be very nice to be able to verify a token without having to rescue exceptions..

[2016-01-18 09:08] excpt commented on #124
Hi @kwando,

do you mean something like this?

[code]

[2016-01-18 09:15] kwando commented on #124
Not with global state like that.

[code]

[2016-02-07 08:26] fabioxgn commented on #124
@kwando @excpt agreed. It is never nice to use exception for flow control: http://programmers.stackexchange.com/a/189225

The main problem of doing this would be backwards compatibility.

[2016-02-08 17:07] excpt commented on #124
@fabioxgn If we're planning this one correct we introduce simply an API change / break with version 2.0. This shouldn't be a problem.

[2016-02-09 10:05] kwando commented on #124
I'm willing to invest some time into this endeavor. I think the verification API needs an overhaul too and it would be a good to look into that if we are doing a 2.0.

[2016-02-09 10:17] excpt commented on #124
@kwando Looking forward seeing your ideas.

You may have a look at #110 for a more advanced discussion into the 2.0 verification API.

[2016-02-10 07:56] excpt commented on #110
@ak47 Have a look at #126 Just merged a PR that should improve JTI verification a little.

[2016-02-19 22:42] curtislinden opened #127 "Base64 is generating invalid length base64 strings - cross language interop"
Hi.

I'm experiencing a cross language interoperability problem that comes from removing the '='  padding on the end of the string. This breaks strict implementations of base64 ( ruby lets one get away with a missing length). I'm seeing this issue in the Elixir implementation and the native erlang implementation.

Is it possible to stop removing the additional = ?

[2016-02-20 08:17] grempe commented on #127
I think this is not a bug. The '=' is not a url safe character and the RFC's seem to indicate that decoding a base64url string without the '=' padding chars should just work. If you left it in, you would then have to take the additional steps of % encoding the '=' on encode/decode.

There is a very good discussion about the Ruby implementation here:

https://bugs.ruby-lang.org/issues/10740

The Ru

[2016-02-20 08:42] josevalim commented on #127
The spec mentions the padding could be skipped in base64url: https://tools.ietf.org/html/rfc4648#section-5

That said, Elixir's implementation is incomplete. I have opened na issue here and I will try to include a fix in the upcoming v1.2.3 release: https://github.com/elixir-lang/elixir/issues/4316

[2016-02-20 16:40] grempe commented on #127
Great news @josevalim Thanks.  I think that @curtislinden can close this bug now since I think its not a bug in ruby-jwt.

Cheers.

[2016-02-20 17:50] aj-michael commented on #127
Thanks for the in depth discussion guys. We will leave this for @curtislinden to close.

[2016-02-22 10:32] mikz commented on #110
Block passed to `JWT.decode` is already used as a keyfinder.

That has a significant issue, it is just passed the header, not the payload. So it can't find key based on the payload.

I'd propose passing procs/lambdas/objects that respond to call instead of passing blocks.
Also, using keyword arguments instead of positional ones, for better user experience and minimize fault.
Also, use objects inst

[2016-02-22 17:26] excpt commented on #110
@mikz +1 Great proposal with a fitting use case.

[2016-02-23 16:30] curtislinden commented on #127
@josevalim  Thank you for your attention.
@grempe  Thank you for your thoroughness.

[2016-02-23 16:30] #127 closed

[2016-02-23 16:43] tpickett66 opened #128 "Verifications not functioning in latest release"
After updating an app to `1.5.2` we're seeing some test failures due to exceptions not being raised when issuer, audience, and subject claims are mismatched. I'll investigate further and add info as I find it.

[2016-02-23 17:00] tpickett66 commented on #128
Haha, after trying to reproduce the issue outside the app I'm not seeing it. Sorry for the false alarm.

[2016-02-23 17:04] tpickett66 commented on #128
As it turns out there was a change. The verification routines still work but only when the `verify_*` key in the options hash is a symbol.

[code]

[2016-02-23 18:35] tpickett66 commented on #128
Looks using the above as the basis of a good/bad script for `git bisect` I landed on c490860b1281575d0fcf8ba342b3889f18d770d1 as the first commit with the changed behavior. Based on the commit message `Change hash syntax` it looks like the change was intentional :-(

[2016-02-23 20:53] tpickett66 opened #129 "The leeway parameter is applies to all time based verifications"
Having expiration and not before timeouts using the same leeway is surprising and could lead JWTs to live longer than expected when both `exp` and `nbf` are being verified and a leeway is desired on one but not the other.

[2016-02-23 21:31] tpickett66 commented on #129
Looks like `iat` is lumped in there too.

[2016-02-24 07:43] excpt commented on #128
Thanks for the feedback and your investigation results.
This is a nice solution for the string vs. hash situation.
Thanks for the contribution.

[2016-02-24 08:01] #128 closed

[2016-02-25 03:52] BanzaiMan opened #132 "Version 1.5.3 breaks 1.9.3 compatibility, but not documented as such"
Yes, I know 1.9.3 has been EOL'd many months ago. It is OK if this is a carefully considered decision. But https://github.com/jwt/ruby-jwt/blob/v1.5.3/ruby-jwt.gemspec does not indicate it.

It should be either indicated as such, or reinstate 1.9.x support.

Upon `require`, it fails:

[code]

[2016-02-25 09:03] danleyden commented on #132
I wonder if the bump to 1.5.3 from 1.5.2 should have been a major bump
(breaking backwards-compatibility) per semantic versioning?

On 25 February 2016 at 03:52, Hiro Asari <notifications@github.com> wrote:

[2016-02-26 15:37] anthony-battaglia commented on #132
Encountered same issue.  Currently forcing 1.5.2 version in Gemfile.  Version bump should have denoted a breaking change.

[2016-02-26 19:48] skippy opened #133 "1.5.3 breaks compatibility with 1.5.2"
hey folks,

the API breaks between 1.5.2 and 1.5.3.  For example, `::JWT.decoded_segments(token)` no longer exists.

would you mind, going forward, if the API changes, to increment at least a minor, if not major, revision number?

thanks!

[2016-03-01 12:44] eigilsagafos commented on #133
+1

[2016-03-02 21:21] DigitallyBorn commented on #133
Also, `base64url_decode` was made private. Very frustrating.

[2016-03-03 20:39] databyte commented on #133
+1 to breaks in `base64url_decode`, it was being used by omniauth related work for X509.

[2016-03-04 03:27] excpt commented on #133
I will yank the 1.5.3 release this weekend and re-release it as 1.6.0. In addition I will update the documentation to make the changes more visible.

Sorry for the issues this release caused.

I wasn't aware of the fact that the base64url_decode function was used outside the JWT library in other gems.

[2016-03-04 04:17] databyte commented on #133
Thanks @excpt - unless you make it private methods, undoubtedly someone will find it and use it. Apparently [over a thousand times](https://github.com/search?q=JWT.base64url_decode&ref=simplesearch&type=Code&utf8=%E2%9C%93) and these are just public repos.

[2016-03-04 06:47] excpt commented on #133
@databyte Thanks for the info. :)

[2016-03-08 20:41] kjwierenga commented on #110
@mikz sounds good to me +1

[2016-03-08 23:56] connorshea commented on #133
See [Semantic Versioning](http://semver.org/), which is what most people assume is being followed. This just broke for me after updating some unrelated gems, so now I have to force 1.5.2 in the Gemfile.

[2016-03-23 16:48] excpt commented on #133
@connorshea @skippy @eigilsagafos @databyte @DigitallyBorn

If you have the time - can you check out the current master and test it with your projects? I made 2 PR #135 and #136 to fix the issues for the upcoming version 1.5.4.

[2016-03-23 16:52] excpt commented on #132
I made 2 PRs to fix the 1.5.3 issues. Mentioned in #133.

PRs: #135 #136

If you find the time - you can check out the master branch and provide some feedback.

[2016-03-24 08:44] excpt commented on #129
Thanks for pointing that out.

[2016-03-24 14:23] jtangelder opened #137 "404 at https://rubygems.global.ssl.fastly.net/gems/jwt-1.5.3.gem"
The Ruby gem returns a 404

[code]

[2016-03-24 14:30] excpt commented on #137
The 1.5.3 version is yanked.

[2016-03-24 14:31] #137 closed

[2016-03-24 14:43] excpt commented on #133
Version 1.5.3 yanked.

[2016-03-24 14:43] excpt commented on #132
Version 1.5.3 yanked.

[2016-03-24 15:01] mwhahaha commented on #133
Please don't yank things until you've published something newer. You've broken a whole bunch of CIs as 1.5.3 is being calculated as a dependency but is not available.

[2016-03-24 15:05] danleyden commented on #133
I would suggest publishing 1.5.4 with a fork of the 1.5.2 code (only
changes would be version and readme / changelog)

On 24 March 2016 at 15:01, Alex Schultz <notifications@github.com> wrote:

[2016-03-24 15:05] skippy commented on #133
ah, yep, I ran into this as well.  6 projects started to fail.

Would you mind putting 1.5.3 back up?  Once it is published it should be locked.  If you wouldn't mind, just publish 1.5.4 with backwards compatibility, and just *going forward* stick to semantic versioning?  But the key is *going forward* :)  @excpt, if I can help (besides calling shots from the cheap seats!) please let me know.

[2016-03-24 15:07] skippy commented on #133
@danleyden that is a good idea!

[2016-03-24 15:17] EmilienM commented on #133
@excpt I confirm @mwhahaha - it is breaking a bunch of CI, including OpenStack (30 Puppet modules, around 500 daily CI jobs are failing and will fail on that). Please publish 1.5.4.
Thanks a ton!

[2016-03-24 15:33] excpt commented on #133
Version 1.5.4 released.

[2016-03-24 15:38] excpt commented on #132
Version 1.5.4 released.

[2016-03-24 15:39] #132 closed

[2016-03-24 15:43] excpt commented on #133
Thanks a lot for all the feedback. Lessons learned from the 1.5.3 disaster.

[2016-03-24 15:44] EmilienM commented on #133
Thanks @excpt for your responsiveness, much appreciated.

[2016-03-25 07:49] guyisra opened #140 "Adding a CHANGELOG"
Would it be possible to add a simple changelog so it will be easier to know what changed between versions?

[2016-03-26 23:34] grempe commented on #127
Follow up.  Elixir was patched to support creating and decoding Base64 with or without padding (triggered by this discussion).

See https://github.com/elixir-lang/elixir/issues/4316

It was included in v1.2.3 of Elixir (the latest release).

http://elixir-lang.org/docs/stable/elixir/Base.html#encode64/2
http://elixir-lang.org/docs/stable/elixir/Base.html#decode64/2

:+1:

[2016-03-27 08:51] #133 closed

[2016-03-29 02:47] sentience commented on #132
:wave: Just dropping by to mention that the yanking of 1.5.3 broke our builds, since the version in our Gemfile.lock is no longer available. I’d suggest that this be considered more carefully before yanking versions post-release in future.

[2016-03-29 08:11] excpt commented on #140
Do you prefer a file in the sources called CHANGELOG or would it be enough to have a link in the README to the releases section of the github page?

[2016-03-29 08:15] guyisra commented on #140
either way, as long as we can see what has changed
If there is only one maintainer/version bumper, a releases section would suffice

[2016-03-31 20:38] lucianosousa opened #141 "gem install v 1.5.3 returns error"
[code]

v1.5.4
[code]

Any thoughts?

[2016-03-31 21:02] koenrh commented on #141
That's because v1.5.3 was yanked.

See https://github.com/jwt/ruby-jwt/issues/132#issuecomment-200867597 and https://github.com/jwt/ruby-jwt/issues/133

[2016-04-01 08:29] #141 closed

[2016-04-03 13:46] #140 closed

[2016-04-04 20:46] shakycode opened #143 "JWT 1.5.3"
I'm using Twilio-Ruby 4.2.1 and it has jwt 1.5.3 as a dependency.  When I try to bootstrap a copy of my app with this gem version in Gemfile.lock rubygems cannot find 1.5.3.  I looked at the page on Rubygems.org and it's apparent 1.5.3 is missing.  This is breaking our app.

Any way to fix this or should we force the gemfile.lock to 1.5.4?

[2016-04-04 21:05] excpt commented on #143
Please force it to 1.5.4. Version 1.5.3 is yanked.

[2016-04-04 21:05] #143 closed

[2016-04-04 21:19] shakycode commented on #143
@excpt Thanks for the quick response.  I just bumped it to 1.5.4, so far everything tests fine.  Appreciate the help!

[2016-04-18 18:56] aomega08 commented on #80
Hey @excpt, any news on this? Have you got any idea of how to integrate the two gems?

[2016-04-19 08:08] excpt commented on #80
Ahoy @aomega08,

I think we should keep the gems independent and provide an interface to integrate the encryption part of JWT into the ruby-jwt gem. Other libs may want to use your gem too.

If you're interested we can move your jwe gem repo into this jwt organization and rename the repo to ruby-jwe. You keep all your administrative permission. If you have further questions - send me a mail (botto

[2016-04-30 18:06] abevoelker opened #148 "JWT.decode always raises JWT::ExpiredSignature for tokens created with Time objects passed as the `exp` parameter"
[code]

If I paste the generated token into [jwt.io](https://jwt.io/), this is the payload that `JWT.encode` generated:

[code]

If I instead change the code to do `exp_time = (Time.now + 3600).to_i` (i.e. cast to Unix epoch), it works correctly and doesn't raise a `JWT::ExpiredSignature`. The payload generated by that code is obviously different:

[code]

So I'm guessing that the decoding is not

[2016-04-30 20:10] excpt commented on #148
Hi @abevoelker,

thanks for the detailed report.

As written in the RFC specs (https://tools.ietf.org/html/rfc7519#section-4.1.4):

That's why we only allow Unix timestamps as valid values.

For the 1.x versions I will improve the exception that will be raised if the format for the exp claim does not fit the requirements.

[2016-04-30 20:12] abevoelker commented on #148
Makes sense. Thank you for the quick response and the excellent gem! I'm new to JWT and the gem has made things very easy for me. :heart:

[2016-05-07 18:29] aarongray opened #150 "Is ruby-jwt thread-safe?"
I'm moving from a threaded web server over to Puma, which is multi-threaded. I don't see in the readme if this gem is thread safe. I glanced through the code and I didn't see any no-no's jumping out at me, but wanted to ask here and see if you folks could give me a definitive answer.

Thanks for this helpful gem!

[2016-05-10 14:47] excpt commented on #150
We don't have any kinds of tests to check if this library is thread safe.
Given the current code structure that is basicly just a collection of methods/functions that simply parse input and return output - using puma as a webserver should not give you any trouble.

[2016-05-10 18:57] aarongray commented on #150
Good deal, thanks!

[2016-05-10 18:57] #150 closed

[2016-05-13 09:38] hirschnase opened #151 "Audience Claim broken?"
This (example code taken fro the github page) throws an Audience Error:

[code]

[2016-05-13 09:56] excpt commented on #151
Can you provide your jwt version from the Gemfile, please?

[2016-05-13 10:58] excpt commented on #151
This error didn't raise any errors in the test suite because it is not tested for successful validation only for errors.

This line causes the problem.

[code]

[2016-05-13 11:24] excpt commented on #151
@hirschnase Thanks for reporting!

[2016-06-07 16:57] estiens opened #152 "JTI claim broken?"
This example code from the docs throws an error

[code]
throws `JWT::InvalidJtiError: Not a uniq jwt id`

[2016-06-08 09:00] koenbollen opened #153 "[security] Signature verified after expiration/sub/iss checks"
Given a feature were you login using an JWT and get redirected to an URL that is inside the claims of the JWT, when an JWT is expired you are still redirected without logging in.

Because the expiration is checked before the validity of the signature an `JWT::ExpiredSignature` is raise before the signature is checked. This allows attackers to create a malicious token, with a bogus signature, that

[2016-06-08 09:00] blendle-hubbit commented on #153
Heya!

This issue was just mentioned in the Trello card "[(5) Refactor magic login two methods to one](https://trello.com/c/cqI2y7Aj)" on the [Team Buttons](https://trello.com/b/p6vfusdg) board.

Might be relevant to you, or not...

*Happy Hackin'!*

[2016-06-20 09:28] sagikazarmark opened #154 "PHP Libraries"
Hi owners,

I was wondering if you would accept a php jwt library as a contribution (probably together with some framework integration packages).  There are quite a few libraries out there already, yet, i am not really satisfied with their quality which I am really concerned about. Also, the implementations using these libraries are also not really good, so I intend to provide a full solution for

[2016-06-20 10:39] excpt commented on #154
HI @sagikazarmark,

send me an mail and I will setup a repo for you and grant you ownership.

We welcome every jwt implementation in any language.

[2016-06-20 14:19] #154 closed

[2016-06-29 15:24] joykoduru opened #155 "ruby-jwt::raw_to_asn1: Fails for signatures less than byte_size"
We use ruby-jwt in one of our applications and recently we had noticed that if the Signature passed to this method is shorter than byte_size, I returns an invalid signature which fails the verification and causing a 500 Internal Server Error.

See the below sample code to understand better:

[code]

To fix this we could add a check for passed in signature’s length on [#L165](https://github.com/jwt

[2016-07-20 03:18] vnc-zestfinance opened #157 "expiration check does not give "Signature has expired" error for the exact time of expiration"
If for example, you want to have a JWT expire at 4 hours after current time, it still doesn't expire at the exact time specified (exp field).  But it does expire like the second afterwards but according to JWT documentation, it should expire at or after the given time.  Please see the logic difference between the following two diffs:

https://github.com/jwt/ruby-jwt/blob/jwt-1.5.2/lib/jwt.rb#L161

[2016-07-29 22:17] caldwecr opened #158 "Support for JWK in-lieu of rsa_public"
So AWS Cognito User Pools went GA today. Working through a lot of the details. In particular the process of verifying the integrity of the Id and Access token types that Cognito returns. Both of these are JWT tokens and can ultimately be verified using ruby-jwt - BUT to do that requires first converting the JWK format that Amazon provides the Cognito public keys for an individual AWS account's Use

[2016-07-29 22:48] caldwecr commented on #158
Maybe using json-jwt's JWK implementation is the fastest path?

[2016-08-22 22:57] excpt commented on #153
@koenbollen can you please test your case with the #160 PR?

[2016-08-23 13:52] koenbollen commented on #153
@excpt Great work! It has fixed the issue, I've used that branch and removed my extra check and got the expected result.
Thanks.

[2016-08-23 13:59] excpt commented on #153
Thanks for the fast response. 👍

[2016-08-23 13:59] #153 closed

[2016-08-23 17:09] #157 closed

[2016-08-23 17:12] excpt commented on #152
Hi @estiens ,

can you please check this again using the current master branch?

This seems to be fixed now.

[2016-08-23 17:22] estiens commented on #152
Works for me on current master branch 👍

[2016-08-23 18:30] #152 closed

[2016-08-24 18:33] louisscruz opened #162 "Rendering Json Results in JWT::DecodeError"
### Steps to reproduce
Perform any request that should render JSON in my controllers. (repo [here](https://github.com/louisscruz/dailydownbeat/tree/master/server)).

### Expected behavior
The controllers should render JSON.

### Actual behavior
For instance, when I make a call to create a session through my `sessions_controller`, I get the following error:

[code]

For some reason the `current_use

[2016-08-24 19:00] louisscruz commented on #162
It turns out that `current_user` was in fact being called since it is the default `scope_name` for Active Model Serializers. [Here are the relevant docs.](https://github.com/rails-api/active_model_serializers/blob/61059e900cdba72a88970fc790f73984c6bc2e99/docs/general/serializers.md#scope)

[2016-08-24 19:00] #162 closed

[2016-09-16 18:20] #151 closed

[2016-09-16 18:22] excpt commented on #151
@hirschnase This issue should be fixed now.

If you find the time can you please check your code with the current master branch version of jwt?

Cheers! :)

[2016-09-16 18:51] #148 closed

[2016-09-16 18:52] excpt commented on #148
@abevoelker I improved the error message. :)

[2016-09-16 18:55] abevoelker commented on #148
@excpt You rock!

[2016-09-21 04:22] scalp42 opened #170 "verify_iss: true is raising JWT::DecodeError instead of JWT::InvalidIssuerError"
When trying to encode/decode payloads, if I change the `iss` value with something else and setting `verify_iss: true`, I'm getting the wrong kind of error:

[code]

Now using [jwt.io](https://jwt.io) with the secret `secret`:

[code]

[code]

If I change `iss` in the payload to `whatever` for example, I would expect to see `JWT::InvalidIssuerError` happening but it doesn't appear to be the case in

[2016-09-21 08:20] jmjurado23 opened #171 "Error with method sign for String"
The error is:
undefined method `sign' for #String:0x00000002fbbb78

In line:
def sign_rsa(algorithm, msg, private_key)
  private_key.sign(OpenSSL::Digest.new(algorithm.sub('RS', 'sha')), msg)
end

In file: jwt.rb 35

String class (private_key) not have sign method.

What is the problem?

[2016-09-21 09:08] excpt commented on #171
Can you please provide an example code? It looks like the RSA key is no present.

[2016-09-21 09:21] jmjurado23 commented on #171
The code is simply,

pem = '-----BEGIN RSA PRIVATE KEY----- MIKCAQEAiqv0K2dMkuLyuZQiw4j8r7VQjP3zS+nUDgu80tfYA3usRGxx G8DmQDBWIi6MOj80K7nm0f+QcVaztN6NVgw07XaEg8sJ Yg16qULCO4nUhWcVnOaA1YdUC6bZ/DcA pfzPCDEpXT6Nwbj5uJs .... ----- END RSA PRIVATE KEY -----'
params = {
   ''body":  'example'
}

JWT.encode( params, pem, 'RS256')

And this give me the error, look like String class not have sign method

[2016-09-21 09:32] jmjurado23 commented on #171
I've discovered the error, key should be a    OpenSSL::PKey::RSA instance.

Sorry for inconvenences.

[2016-09-21 09:37] excpt commented on #171
Okay. But I think to improve the experience working with ruby jwt a better error should be displayed.

`The given key is a #{private_key.class}. It has to be an OpenSSL::PKey::RSA instance.`

[2016-09-21 21:23] scalp42 commented on #170
Actually, changing the `exp` key to something expired or removing `iss` key for example are leading to `JWT::DecodeError` instead of the specific ones if it helps.

[2016-10-03 12:19] excpt commented on #170
I wrote a spec for the issue:

[code]

I get the correct error. Which version are you using?

[2016-10-05 04:56] excpt commented on #170
Just change your `rescue` block to:

[code]

All JWT errors derive  from `JWT::DecodeError` that's why your code behaves in a "strange" way.

[2016-10-05 16:43] scalp42 commented on #170
@excpt I see the issue now, thanks a lot for the help and sorry for opening this 🍶

[2016-10-05 16:43] #170 closed

[2016-10-20 09:08] excpt commented on #155
Please submit your PR. I will be happy to merge it.

[2016-11-29 15:40] deepflame opened #177 "Cannot verify JWT at all??"
Hi everyone,

we are evaluating Auth0 for our service and have problems to get going.
We can verify the token we get on `jwt.io` as you can see here:

<img width="968" alt="screen shot 2016-11-29 at 16 28 55" src="https://cloud.githubusercontent.com/assets/91208/20716329/1b9236c6-b652-11e6-8fec-6f1d4ffce75c.png">

However in the console I get the following:
<img width="1277" alt="screen shot 2016-

[2016-11-30 11:34] excpt commented on #177
Can you please provide your Ruby version and jwt version you are using?

After my upgrade to macOS Sierra I had to re-install all my brew installs including rbenv.

[2016-11-30 15:13] deepflame commented on #177
Sure!

Ruby 2.3.1
JWT 1.5.6

Yeah, thought that OpenSSL might be messed up now or something. What was the problem you were having?

[2016-11-30 15:23] GoodMirek opened #179 "Why jwt depends on json < 2.0 ?"
The latest versions 1.5.5 and 1.5.6 introduced a new dependency "json < 2.0". It causes conflict with our other gems, which use json 2.0.2.
What is the reason to depend on json version below 2.0 ?

[2016-11-30 15:54] deepflame commented on #177
Yey, I got it to work like this:

[code]

Was trying it before with `Base64.decode64` but this did not work.
Happy it works with the provided function :)

[2016-11-30 15:54] #177 closed

[2016-11-30 15:55] excpt commented on #179
It is currently compatible with older versions of ruby like 1.9.
Support will be dropped for the older versions by the end of this year.

[2016-11-30 15:58] excpt commented on #177
Ah, ok. The password was the issue.

The password isn't base64 encoded when creating a token with this gem. It needs to be plain text.

[2016-11-30 15:58] deepflame commented on #177
This is actually a problem with Auth0's quickstart documentation. Hope they update it soon :)

[2016-11-30 16:04] GoodMirek commented on #179
@excpt Thanks for your quick response.
If the constraint was json > 0, would not that be compatible with both 1.9 (e.g. using json 1.8.3) and 2.x (using json 2.0.2) ?

[2016-11-30 16:23] excpt commented on #179
I'll try that. Thanks for the hint.

[2016-11-30 16:34] excpt commented on #179
I tried that but it will always try to install the latest gem version. This will have to wait until the support ends for older versions of ruby.

[2016-11-30 20:49] #171 closed

[2016-11-30 20:50] #155 closed

[2016-12-22 05:56] xamenrax commented on #121
Hi! Could we close this already? Or maybe you have some additions/commentaries?

[2016-12-22 22:03] excpt commented on #121
Forgot to click the button. Sorry. :)

[2016-12-22 22:03] #121 closed

[2017-01-16 20:57] AugustoPedraza commented on #115
@stantoncbradley I'm getting the same error, could you please share as you did fix it?

[2017-01-16 21:12] stantoncbradley commented on #115
@AugustoPedraza I was using [Knock](https://github.com/nsarno/knock) to pass my JWT to ruby-jwt and Knock didn't support RS256 so it wasn't passing in the proper params.  Adding support for RS256 on Knock fixed my issue.  ruby-jwt works fine for me after that, make sure you are passing the proper params.  It's been awhile since I worked on this so I probably won't be able to give you much more det

[2017-01-23 16:43] AugustoPedraza commented on #115
@stantoncbradley thanks for your reply. I was getting the same error because I was using an invalid Auth0 workflow to get my JWT.

[2017-01-26 17:48] lolgear opened #185 "Could you describe purpose of cert fixtures and their cryptokey lengths."
You have several pem files inside certs folder.
They are algorithm_length_wrong_privacy.

But you have rsa keys which are longer than esa keys.
Could you describe why they are longer?

Also, could you share script that generate keys?

Thanks!

[2017-01-31 16:41] Jpease1020 opened #186 "can't create token - 'NotImplementedError: Unsupported signing method'"
when I run this code,

payload = 'username'
hmac_secret = 'my$ecretK3y'
token = JWT.encode payload, hmac_secret, 'HS256'

I get this error   JSON::GeneratorError: only generation of JSON objects or arrays allowed

I am using ruby version 2.3.0 in a rails 4.2.6 project

[2017-01-31 17:52] excpt commented on #186
Your payload needs to be a hash.

[code]

[2017-01-31 18:02] Jpease1020 commented on #186
I changed the payload to

payload = { username: 'username' }
 and ran

payload = { username: 'username' }
hmac_secret = 'my$ecretK3y'
JWT.encode(payload, hmac_secret, "H256")

and I get this error

'NotImplementedError: Unsupported signing method'

[2017-01-31 20:00] #186 closed

[2017-02-07 17:14] abmBispo opened #188 "TypeError: no implicit conversion of String into Integer"
I had some problems handling this library concerning insert an array into `JWT.encode`, suposing I have a JSON in array format. Testing on padrino IRB, I got  this error:

[code]

I have tested the command `jwt = JWT.encode([{"id"=>1}],'!chave','HS256')` an it raised. What is the best way to handle this error? In the official web page of [JWT](https://jwt.io/) is possible to convert directly from

[2017-02-07 18:35] unmultimedio opened #189 "Include custom headers with password"
Hello. I've found in your [documentation](https://github.com/jwt/ruby-jwt#add-custom-header-fields):

[code]

But what happens when we want to add custom headers **using** a password?

I'm trying to generate a JWT for a chat service called Smooch. Here's their [docs](https://docs.smooch.io/guide/authenticating-users/).

They have an example in node.js server, and I've found this gem is quite popul

[2017-02-08 16:38] collimarco opened #190 "Signature is different at each run"
If I run the same program multiple times, with the exact same header and payload, I get different signatures at each run. Is that an expected behavior?

Take for example this code:

http://blog.pushpad.xyz/2017/02/push-api-from-scratch-how-to-generate-the-vapid-headers-with-ruby/#more-101

and use the same key pair, replace Time.now with a fixed time and also fix an endpoint.

If you run it multip

[2017-02-08 19:06] excpt commented on #190
When using keys to sign tokens the outcome on each run is and has to be different.

When looking at the ruby-jwt test suite you'll see we test the results against certificates because there is no way that we will get the exact same result twice when signing with elliptic curve keys.

It's the correct behaviour.

Why this is that way you have to dive deeper into encryption and elliptic curve algos.

[2017-02-08 19:49] excpt commented on #189
The password you provide for your token is only there to `verify` that the token you send to the server is valid. The payload and header are not encrypted. It's just a base64 encoded JSON string. The signature (it's the last part of the token) is encrypted and can only checked when you provide the correct password. When the password is not correct the verification process will fail. The ensures th

[2017-02-08 20:04] excpt commented on #188
The `JWT.encode` method expects a hash of claims. You should simply get the first value of the array and put that in as a parameter. There is no other way around. This is simply the current state of the ruby-jwt implementation.

[2017-02-08 20:41] excpt commented on #185
The pem files are there just for the tests. To avoid creating new certs on the fly every time when running the tests.

RSA keys with a size smaller than 1024 bit are insecure and can be recomputed.
RSA keys are always longer on the same level of security than ECDSA keys.

ECDSA is a much more sophisticated algorithm that is based on elliptic curves and super large numbers and mathematics that are

[2017-02-08 21:07] lolgear commented on #185
@excpt thanks for information!

[2017-02-09 03:44] unmultimedio commented on #189
Thank you @excpt for the explanation! I reached out to Smooch support and they showed me that in the `header_fields` I was using `key` instead of `kid`. Changed that hash key and it worked perfectly with the same code above.

[2017-02-09 08:23] excpt commented on #189
Great! 👍

[2017-02-09 08:23] #189 closed

[2017-02-09 10:22] collimarco commented on #190
Thank you! I've have noticed that while I was trying to write tests... now, at least I know that it's not a bug. Sorry for my lacking knowledge about elliptic curve algorithms.

[2017-02-09 10:30] excpt commented on #190
No problem at all. That's what a community is for. Sharing knowledge. :)

[2017-02-09 10:30] #190 closed

[2017-02-09 15:56] #129 closed

[2017-02-18 15:53] noctivityinc opened #197 "Different encoded value between servers with same password"
Maybe I just dont understand JWT but I am trying to generate an encoded token using the exact same id, password and encryption scheme on two different servers and I get two different values.

Can anyone explain what I am doing wrong?

[2017-02-18 16:20] #197 closed

[2017-02-26 14:13] jessecravens commented on #115
@AugustoPedraza can you elaborate on 'using an invalid Auth0 workflow to get my JWT' , Im having the same issue, but fairly certain that Im using a proper workflow, and my JWT validates and signature verifies at jwt.io

[2017-02-26 20:03] jessecravens commented on #115
I got this working, as I expected I was passing in the token_public_key incorrectly. #148

[2017-03-20 16:51] betesh opened #200 "Ruby interpreter warning"
[code]

[2017-03-20 19:52] excpt commented on #200
Which version of ruby are you using and what code did you use that invoked that error?

[2017-03-20 23:14] betesh commented on #200
[code]

[2017-03-21 07:30] excpt commented on #200
Thanks for the additional information.

[2017-03-22 00:04] excpt commented on #200
This is only triggered when the payload contains claims and verify is set to true.

Related line of code in the current code base: https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/decode.rb#L23

[2017-03-23 20:13] mgwidmann commented on #188
This broke in version `1.5.5` and was not backwards compatible with `1.5.4`

[2017-03-28 10:40] ce07c3 commented on #158
@caldwecr yes, but I believe they are susceptible to https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/ as the library does not require specifying an algorithm. Would be good if this library would implement it.

[2017-04-12 11:43] RedFred7 commented on #188
I have a similar problem. The cause is in the implementation of `#encode_json`. In initial versions (I use 1.5.0) it used `MultiJson.encode`. Later on it started using  `JSON.generate`, which is much more inflexible regarding types, as it expects a Hash-like or JSON::State-like object.

The thing is, patch version upgrades shouldn't really break backwards compatibility. If there is no critical rea

[2017-04-13 20:54] Dorian opened #201 "Using the vendored version of libsodium?"
What about having [`rbnacl-libsodium`](https://github.com/cryptosphere/rbnacl-libsodium) as a dependency?

Then `rbnacl` would always be present and when requiring `nbnacl` it will never fail with:

[2017-05-26 16:36] yamitcar commented on #170
Hi! i removed the slice on:
env.fetch('HTTP_AUTHORIZATION', '').slice(7..-1)

and works for me :)

[2017-05-29 19:36] fightingtheboss opened #206 "Verifying expiration without leeway throws exception"
Both in `1.5.6` and in `master`, trying to verify the `exp` of a token without providing an explicit leeway throws the following exception:

`TypeError: nil can't be coerced into Integer`

This is because [this line](https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/verify.rb#L34) (on master) relies on the return value from the options Hash to add time to the `exp` integer. If `leeway` isn't set

[2017-06-12 17:16] bunnrf commented on #188
This is caused by line 30 in `encode.rb`:

`      raise InvalidPayload, 'exp claim must be an integer' if payload && payload['exp'] && payload['exp'].is_a?(Time)
`

If `payload` is an array, the type error is raised when it tries to index in with a string. This could be patched by checking if `payload` is a Hash.

[2017-06-22 16:03] MPT-ladams opened #207 "Verify JTI Proc"
I'm attempting to use this logic to set & verify the JTI value:

[code]

When my verify_jti proc is called, I only have access to the @payload['jti'] value passed. How can I access the issued at value from the payload to verify?

Or is this not the intention of how the provided proc is to be used?

Thanks!

[2017-06-22 22:30] matt-murdock opened #208 "Documentation for using a key finder with JWT.decode"
I'm looking for documentation on using the key finder code block for the JWT.decode method. Is there any?

[2017-06-24 23:21] excpt commented on #208
There is currently no documentation on this topic.

[2017-06-27 17:26] ilanbiala opened #209 "Support versions outside 2.1"
Does this library support versions outside of Ruby 2.1?

[2017-06-27 22:11] excpt commented on #209
We run our tests against 2.2, 2.3 and 2.4 on travis and all pass. You can have a look at them here: https://travis-ci.org/jwt/ruby-jwt

[2017-06-28 00:05] ilanbiala commented on #209
Ah okay, I looked at https://github.com/jwt/ruby-jwt/blob/master/ruby-jwt.gemspec#L16 and saw a bound version. Maybe it should be `>= 2.1` then?

[2017-06-28 10:48] excpt commented on #209
Yes. This should be `>= 2.1`. Thanks for that hint.

[2017-07-26 07:53] allavena opened #215 "Leeway or exp_leeway"
Documentation mentions the parameter :exp_leeway. However, in practice, :leeway seems to be what works.

I have an expired token.
[code]

Content of my token: `[{"exp"=>1501054718, "iat"=>1501053518, "nbf"=>1501053513, "account_id"=>1193 }]`

[2017-07-27 11:39] soulfly opened #216 "Proper way to verify Firebase id tokens"
Hi guys,
I use 'ruby-jwt' gem to decode and verify Firebase id tokens

Here is a quick brief how it works, what needs to be done
https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_a_third-party_jwt_library

I have a question about signature validation

As you see we do not know RSA public key before decoding

1. We need to decode this token first
2. then grab **kid

[2017-07-31 09:04] excpt commented on #216
In your case this is the right solution. The double decoding process itself should not reduce the performance of your app. If you experience any problems with performance let us know.

The first `JWT.decode` call simply extracts the data from the token and skips all verification therefore should be fast. The second decoding runs all the verification and is in that case the expensive operation.

[2017-07-31 09:07] excpt commented on #215
Thanks for the heads up in that case. The documentation is missing information in that case. `exp_leeway` overrides the leeway setting if both are declared.

[2017-07-31 09:37] soulfly commented on #216
Thanks @excpt for your response so we follow the right direction then 👍

I have prepared a post on medium describing some pit fails when work with Firebase JWT. https://medium.com/@igorkhomenko/how-to-validate-firebase-id-token-in-ruby-23f4f54c89ab

maybe someone will find it useful and save some time

[2017-07-31 09:37] #216 closed

[2017-07-31 13:14] excpt commented on #216
@soulfly I recommend to make one change in your blog post. This is not a official JWT thing. There is only the official JWT RFC. This is "just" a ruby implementation of that RFC and I am just the maintainer. So you got an answer from the ruby-jwt maintainers. ;)

[2017-07-31 13:23] soulfly commented on #216
@excpt got it :) thank you

[2017-08-01 13:15] allavena commented on #215
Just to be clear. I think I am also saying that :leeway didn't work (or I didn't understand it).

[2017-08-01 14:55] excpt commented on #215
ok. I will check this out.

[2017-08-14 06:26] shayneoAtNorwood commented on #137
Can you guys please stop yanking old versions. Its really disruptive. Thanks

[2017-08-14 06:29] excpt commented on #137
This is the only yanked version and that happended a while ago. Please update your version. This is also mentioned in the README.md.

[2017-08-18 12:40] Justin-Maxwell opened #217 "Ed25519 support planned?"
Hi.

Are there plans to incorporate Ed25519?  (via RbNaCl presumably).

Cheers.

[2017-08-23 10:58] HimaChitalia commented on #186
Were you able to solve this? I am having same issue!

[2017-08-24 19:33] excpt commented on #186
@HimaChitalia

Have you checked for typos? Sometimes I catch myself fast typing `H256` instead of `HS256` or `E512` instead of `ES512`.

[2017-08-24 19:39] excpt commented on #217
@Justin-Maxwell

Sure, this would be an awesome addition. For a more complete JWT spec implementation.

Setting this to "up for grabs"

[2017-09-01 15:35] Exelord opened #222 "Possibility to disable claim verifications"
Hey,
Is it possible to disable `expiration` verification during the decode?
In the same way as eg with `verify_iss` where I can pass the `false` value.

[2017-09-01 16:00] Exelord commented on #222
OK. It's possible but not documented. You can use `verify_expiration: false` to disable `exp` verification

[2017-09-01 16:02] #222 closed

[2017-09-01 19:34] #206 closed

[2017-09-02 23:18] #200 closed

[2017-09-02 23:21] #209 closed

[2017-09-02 23:52] #188 closed

[2017-09-04 15:02] alebian opened #226 "The README says it uses an algorithm by default"
Hi, the README says it uses HS256 by default but since https://github.com/jwt/ruby-jwt/pull/184 you must provide an algorithm option

We should remove the word "default" from readme

[2017-09-05 20:22] madkin10 opened #227 "Why doesn't the decode function use a default algorithm?"
Upgraded to 2.0.0 and started seeing this error everywhere I was calling `JWT.decode`
[code]

`JWT.encode` defaults to the `HS256` algorithm, why not do the same for `JWT.decode`? It would be a simple change to the `DEFAULT_OPTIONS`.

[code]

[2017-09-06 19:46] excpt commented on #226
This is also mentioned in #227 and explains this in more detail. Discussion will continue there.

[2017-09-06 20:10] excpt commented on #226
You are correct, I mixed things up. #227 played tricks on my mind. Reopen.

[2017-09-06 20:12] excpt commented on #227
The default algorithm was dropped with PR #184.

It is a security issue.

The documentation is wrong.

#226 addresses this issue.

[2017-09-06 20:17] excpt commented on #217
@Justin-Maxwell This feature will be added with 2.1.0. See #229.

[2017-09-06 20:17] #217 closed

[2017-09-06 20:21] excpt commented on #215
@allavena Are you able to reproduce the error with version 2.0.0?

[2017-09-06 20:50] madkin10 commented on #227
@excpt  The default algorithm was not dropped in #184. #184 changed the behavior to check the header's algorithm against the one supplied in options. Why not allow people to easily make the decision to use the default algorithm for decode? I don't think requiring someone to type in a string really improves security. The security improvement came from checking the header's algorithm against the one

[2017-09-12 22:06] ptarud opened #233 "There is no "typ" header in version 2.0.0"
Why there is no `type` header in version 2.0.0 ?

[2017-09-13 13:04] excpt commented on #233
The `typ` header field is optional.

See: #174 and https://tools.ietf.org/html/rfc7519#section-5.

Does this change cause any issues for you?

[2017-09-18 07:20] ShockwaveNN opened #235 "JWT.encode failing on encode for string"
Before version 2.0 encoding string with jwt was working fine:
1. Create script `test.rb`
[code]
2. Install 'ruby-jwt` 1.5.6
3. Run `ruby test.rb`
[code]
4. Install `ruby-jwt` 2.0.0
5. Run `ruby test.rb`
[code]

Is this works as intended or is it a bug?
In Changelog there is line `Error with method sign for String #171`, but seems #171 have nothging to do with payload, only with private key

[2017-09-18 14:17] ab320012 commented on #235
how many types should this arguement support? Hash#to_s, Hash.to_json, and Hash?

Will a type conversion like the following + tests work? It tentatively supports all 3
[code]

[2017-09-18 15:31] excpt commented on #235
@ShockwaveNN, @ab320012 have a look at https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/encode.rb#L31

Adding `!@payload.is_a?(String)` to the check conditions should solve that problem.

[2017-09-18 15:33] ShockwaveNN commented on #235
@excpt I think so
BTW checking condition on this line becoming a lengthy, maybe need some refactor

[2017-09-18 15:34] ab320012 commented on #235
@expt @ShockwaveNN Hash#to_json returns a string, is that not a valid input?

[2017-09-19 14:52] ab320012 commented on #207
@excpt will the following work? (adding iat var and passing to proc)
[code]

[2017-09-22 13:07] ptarud commented on #233
Not, but I think that for other people could be generate a issue if they use other media types in addition to JWT token. So, I think would be better to include "typ" header on JWT token.

[2017-09-22 14:35] excpt commented on #207
@MPT-ladams Would that be a fitting solution to access the payload of the token?

[2017-10-03 14:15] glarrai1 opened #240 "Change from 1.5.6 to 2.0.0 and appears a "Completed 401 Unauthorized""
I just "bundle update", and the this error starts appearing while invoking: before_action :authenticate_user!

Im' using device 4.3.0 and jwt gems for authentication.

My code is:

[code]

[code]

[code]

[code]

[2017-10-03 21:10] lleger commented on #233
After upgrading to 2.0, my tests were failing. Took me a second to realize it was because of this change. The token fixture I had included the `typ` param but new tokens did not — thus the failure. This is a fine change, so I’m chiming in here to help anyone else searching for test failures after upgrading to 2.0.

[2017-10-04 06:50] fabn commented on #227
Got the same issue, if you wan't to provide that behaviour without changing all your codebase you can use this monkeypatch:

[code]

[2017-10-04 12:23] glarrai1 commented on #240
Any idea?, thanks!

[2017-10-04 12:26] excpt commented on #227
First of all: Sorry for the delay. I'm back from vacation.

@madkin10 I merged your PR.

I think I will get the 2.1.0 release ready until Friday.

Thanks for all the feedback and contribution.

[2017-10-04 18:22] madkin10 commented on #227
@excpt No problem. Sounds good.

[2017-10-04 19:10] excpt commented on #240
Hi @glarrai1,

thanks for the detailed report. Please make sure your `exp` claim is an unix timestamp and the decode method no longer provides a default algorithm. Please make sure to set a algorithm when decoding the token.

For further debugging help I recommend to open a ticket on the devise repository.

Sorry to hear that you run into troubles.

[2017-10-04 19:45] glarrai1 commented on #240
Thanks @excpt , including the algorithm explicit (using the default one anyway; 'HS256'); now the last 2.0.0 version works ;)

[2017-10-04 19:45] #240 closed

[2017-10-05 14:22] excpt commented on #233
@lleger Thank you very much for offering help. 🥇

[2017-10-05 14:25] #227 closed

[2017-10-05 15:12] #207 closed

[2017-10-05 15:39] #226 closed

[2017-10-12 20:48] dmdeller commented on #158
In case anyone (like me) came across this issue while trying to implement AWS Cognito, here is a solution that uses the json-jwt gem instead of Node + filesystem as in the above example.

1. Bundle/require [json-jwt](https://rubygems.org/gems/json-jwt)
2. Get the public key in JWK form from AWS following [directions](http://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pool

[2017-10-13 08:28] AlexPatrasco opened #244 "Ensure presence of claims"
Good day,
Is there a way to check for presence of particular claims when decoding JWT.

Sample scenario:
JWT is used as request signature & expiration flag. Exp claim cannot fail if there is no such claim in payload. Is there a way to ensure presence of said `exp` claim within payload?

[2017-10-25 12:07] excpt commented on #244
Currently there is no option enforcing presence of a token. This is something that has to be implemented system specific. After decoding a token the payload is returned and it is possible to look for the presence of tokens.

Example:

[code]

[2017-10-25 12:17] phoet commented on #201
it would be great if using `rbnacl` was not by chance (see if require raises an error) but explicit, so that i can decide not to use it.

i also need to use `rbnacl-libsodium` so now i have to install the gem and the lib locally and on integration machines. this is suboptimal.

[2017-10-31 20:50] msroot opened #246 "JSON support"
I dint see anywhere in the ready me about Json Support
So is it official Json data supported?

[code]

[2017-11-16 20:57] Jack12816 opened #247 "Issued at validation"
Hey guys, first off: thanks for this great library!

I have a common question, or maybe I don't get the point right now. So lets say a token was
issued a hour before now. (Say 1pm) And now is 2pm. Why is the verify_iat checking if iat is
newer than now?

[code]

I mean yeah, the leeway could be a hour or more, but isn't this exactly what nbf (not before)
should take care of? I found this "issue" (

[2017-11-17 23:06] excpt commented on #247
@Jack12816 Thanks for reporting.

A very interesting point you bring up. I will read the specs again and revalidate the whole thing. Maybe you're on to something.

[2017-12-01 04:15] msxavi opened #249 "JWT.encode method breaking changes"
Hi guys,

I think you have introduced breaking changes somewhere along the path within a patch upgrade instead of a major version because I've got version 1.5.1, where JWT.encode method works with string:

`JWT.encode("host", ENV['SECRET'])`

And after updating to 1.5.6 the same method with string "host" raises:
[code]
I'd rather have all bugfixes done until version 1.5.6, but with no breaking cha

[2017-12-01 14:23] excpt commented on #249
@msxavi I am aware of that problem. IMHO: Rewinding it would cause more trouble.

Is it possible to test your code against the latest 2.1.0 release of ruby-jwt?

This string payload issue was tackeled in #236.

Release notes: https://github.com/jwt/ruby-jwt/releases/tag/v2.1.0

[2017-12-16 08:33] Jack12816 commented on #247
@excpt Ping. :) Whats the current state?

[2018-01-09 23:07] excpt commented on #247
@Jack12816 I'm back from vacation. I look into this and I think I can give you a clear answer by friday.

[2018-01-09 23:13] excpt commented on #249
@msxavi Any updates on this issue?

[2018-01-10 00:50] msxavi commented on #249
@excpt updating ruby-jwt will consequently update json as well and this is leading us to greater updates as the dependencies are many. Still thinking over.

[2018-01-21 11:46] GabKlein opened #251 "Add support for headless token"
As the header provide useful information such as the algorithm used to encode the token, it can also be used against the system. In my case I'm would like to use headless token and force the algorithm to decode a token.

[2018-01-23 18:30] excpt commented on #251
In order to check if the correct algorithm is set use the verify logic that is built in this gem.

[code]

[2018-02-07 14:05] minakov commented on #208
[code]

[2018-02-15 09:34] dowi opened #252 "Why is the result of decode is an array?"
The array has 1 element which is the payload. Why not the payload itself?

Thanks a lot

[2018-02-15 09:36] dowi commented on #252
It has the headers at the second index.. :-) got it

[2018-02-15 09:36] #252 closed

[2018-02-21 08:42] JoeWoodward opened #254 "Infer algorithm from header"
Is there a reason to not infer the algorithm?

The information for which algorithm was used is in the header. Why not use that information instead of requiring the programmer defines it in the options hash

[2018-02-21 08:45] JoeWoodward commented on #124
what ever happened to this. It seems like flow control is still managed through exceptions. Am I missing something?

[2018-02-21 14:38] ab320012 commented on #254
its a security concern to let client dictate algo without validating on server: check out the section: RSA or HMAC? and Recommendations for Library Developers https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2018-02-25 09:45] excpt commented on #124
This proposed change didn’t make it into 2.0. This is still an open issue.

[2018-02-26 17:54] waiting-for-dev commented on #80
Hi there,

is this feature currently being developed? I see that the repo was moved to the jwt organization, so it seems some work has been done. I would like to use it for [warden-jwt_auth](https://github.com/waiting-for-dev/warden-jwt_auth) and [devise-jwt](https://github.com/waiting-for-dev/devise-jwt) gems so that users can encrypt their JWT in case they want to put something private for use d

[2018-03-06 13:48] Jack12816 commented on #247
@excpt Ping. Many fridays passed :D

[2018-03-07 11:18] excpt commented on #247
@Jack12816 Thanks for the reminder. :)

[2018-03-12 22:48] dmitry-vakhnenko commented on #247
Ping ;-)

[2018-03-14 16:08] ViTVetal opened #256 "Get new token if curren token expired"
I created rails project as api for iOS and Android apps. I want use jwt. I think that timeless tokens - it is bad approach. So if the token expires, the client needs to re-login, which is unacceptable UX in my case.
How should I get out of this situation? Should I save login and password and perfrom auto sign in if token expires? (I think it is bad approach too)
Does your library support something

[2018-03-14 19:51] ab320012 commented on #256
I would set the token expiration to an arbitrarily long amount

[2018-03-14 20:04] ViTVetal commented on #256
@ab320012 I think it is bad practice. In this case hacker will be able use stolen token long time until token expires

[2018-03-14 22:27] excpt commented on #256
Hi @ViTVetal,

this is probably an answer you may not want to read but this is a complex question with no clear answer.

JWT by itself does not solve that problem for you. It provides a token format that you can verify by a given rule set. You should look into OAuth which is based upon JWT. OAuth servers provide an refresh token after the initial authentication to give you an easy way to refresh s

[2018-03-14 22:29] excpt commented on #256
An article you may want to read: https://medium.facilelogin.com/jwt-jws-and-jwe-for-not-so-dummies-b63310d201a3

[2018-03-15 10:58] ViTVetal commented on #256
@excpt Thank you! It is important for me to hear the answer from the owner of repository. I'll look at links

[2018-03-15 13:47] excpt commented on #247
Conclusion: @Jack12816 you are correct. This is a bug.

The `iat` claim has no concept of a leeway. `nbf` allows a small leeway.

As mentioned the `nbf` should be the claim that ensures the validity of the token in that case.

[2018-03-17 00:11] mod commented on #246
I am also looking for the implementation of
https://tools.ietf.org/html/rfc7515#section-7.2.1

General JWS JSON Serialization Syntax
with multiple signature support

[2018-03-22 22:24] excpt commented on #254
@JoeWoodward Due to security concerns the algorithm is not fetched from the header of an incoming token for verification.

More on that topic in these PRs / issues:

Code changed in #184

Explained in more detail here #107, #226

[2018-03-22 22:28] excpt commented on #251
@GabKlein Is still relevant? Is using the decode and verification logic a viable solution?

[2018-03-22 22:30] excpt commented on #249
@msxavi Is this still an issue? Did an update of json work for your use-case?

[2018-03-22 22:49] #247 closed

[2018-03-22 22:51] excpt commented on #244
@AlexPatrasco Did you try implementing the suggested code?

[2018-03-22 22:51] #215 closed

[2018-03-22 22:54] excpt commented on #80
@waiting-for-dev Unfortunately, this feature is not in active development.

[2018-03-23 16:49] yivo opened #258 "NameError: uninitialized constant JWT::Algos::Eddsa::RbNaCl"
Steps to reproduce:

1. Run `JWT.encode({}, OpenSSL::PKey::RSA.generate(2048), 'ED25519')`

This error occurs when you supply invalid key type to encoder.

[2018-03-23 16:56] yivo opened #259 "TypeError: no implicit conversion of OpenSSL::PKey::RSA into String"
Steps to reproduce:

1. `JWT.encode({}, OpenSSL::PKey::RSA.generate(2048), 'HS384')`

[2018-03-23 17:09] excpt commented on #259
Thanks for reporting. What version of this gem are you using?

[2018-03-23 17:09] excpt commented on #258
Thanks for reporting. What version of this gem are you using?

[2018-03-23 17:48] ab320012 commented on #259
You are specifying a HMAC algo but then trying to sign it with a RSA key which is causing the issue

[2018-03-23 18:19] yivo commented on #258
@excpt The latest one: 2.1.0

[2018-03-23 18:20] yivo commented on #259
@excpt It is 2.1.0.

@ab320012 I thought it should work with RSA key. Isn't it?

[2018-03-23 18:20] yivo commented on #259
It works if I provide RSA key as string in PEM format:

`JWT.encode({}, OpenSSL::PKey::RSA.generate(2048).to_pem, 'HS384')`

[2018-03-23 19:43] ab320012 commented on #259
@yivo, @excpt will throwing error if hmac input is not a String okay in this case ?

[2018-03-23 20:36] yivo commented on #259
@ab320012 OK, so in this case it is fine!

@excpt I think we can close the issue.

Thank you for the help!

[2018-03-26 08:43] ctc1991 opened #260 "'DecodeError'will replace 'ExpiredSignature'"
if you catch DecodeError, you will not get ExpiredSignature.

[2018-03-27 15:12] excpt commented on #260
Hey @ctc1991,

thanks for reporting.

Can you provide sample code to reproduce this issue, please?

[2018-03-28 23:19] NCCastillo commented on #249
@excpt hopefully this confirms a fix and sheds more light for anyone else who stumbles upon this.

I had the same issue where JWT.encode would fail on encode for String. I was able to upgrade JWT to 2.1.0 but I was still receiving `JSON::GeneratorError: only generation of JSON objects or arrays allowed`.

After investigating further I notice the version of the json gem I was using was 1.8.6. I was

[2018-04-09 17:59] mackeee-orange opened #261 "NoMethodError: undefined method `group' for <xxxxx>"
Versions:

    jwt (2.1.0)
    rails (5.1.5)
      actioncable (= 5.1.5)
      actionmailer (= 5.1.5)
      actionpack (= 5.1.5)
      actionview (= 5.1.5)
      activejob (= 5.1.5)
      activemodel (= 5.1.5)
      activerecord (= 5.1.5)
      activesupport (= 5.1.5)
      bundler (>= 1.3.0)
      railties (= 5.1.5)
      sprockets-rails (>= 2.0.0)

I got a error when `JWT.encode` or `JWT.decode`

[2018-04-09 18:00] mackeee-orange commented on #261
And I use ruby-v2.4.2

[2018-04-09 18:14] excpt commented on #261
Hey @mackeee-orange,

Thanks for the detailed reporting.

Please try to give the `JWT.encode` and `JWT.decode` methods the raw key object instead of an string.

Example:

[code]

[2018-04-10 01:32] mackeee-orange commented on #261
@excpt Thank you for comment.

Sorry, there is  misunderstanding.
I don't have a PEM nor RSA, but only the hex string `"04xxx...yyy..."` representing the public key.

[2018-04-17 16:14] mackeee-orange commented on #261
thank you  @ab320012
I got it by refer your code
[code]

[2018-04-17 17:53] #261 closed

[2018-04-19 07:14] msroot commented on #246
@ab320012 Sure we can close the issue then. I just dint see it in read me anywhere

[2018-04-19 07:14] #246 closed

[2018-04-23 12:24] ab320012 commented on #124
@excpt @JoeWoodward i think it would make sense to introduce a new class like ReturnFromDecode with the interface #errors and #value. WE can initialize the class at the beginning of JWT#decode method and return at the end. The value method would return a JWT::Token like in the other thread instead of an array. Let me know

[2018-04-28 07:42] starbeast opened #264 "ECDSA supported algorithms constant is defined as a string, not an array"
SUPPORTED is defined as `%(ES256 ES384 ES512)` probably mistakenly.
Fixed in https://github.com/jwt/ruby-jwt/pull/263

[2018-05-04 11:27] Anjana93 opened #265 "Ruby JWT Token"
how to extract Private key from x509 certificate in Ruby Programming?

[2018-05-06 19:42] excpt commented on #265
Hi @Anjana93,

This is not part of the ruby JWT project. I'm referring you to a link on stack exchange that might help you: https://stackoverflow.com/questions/31612841/ruby-how-to-extract-public-rsa-private-and-ca-keys-from-pfx-file-on-ruby

[2018-05-10 18:28] gotoAndBliss opened #267 "JWT is easily breakable"
[code]

Oh so fancy! RSA protected?

[code]

Works for every single encryption value offered by JWT

Good luck guys!

[2018-05-29 13:50] dklotz commented on #267
@gotoAndBliss First of all you seem to be confusing signing and encryption. The JWT standard (not only this library) only does the former. The tokens themselves (header, payload and signature) are just Base64-encoded for transport, never encrypted (just e.g. paste any JWT into the box on jwt.io to see the plaintext). There is a second standard (JWE) that does encryption, but that is for different

[2018-05-29 14:17] dklotz opened #268 "Use of global state in latest version breaks thread safety of JWT.decode"
The commit aea6da4543e4a8ea6ba81ce797533bf85e6d3940 by @ab320012 switches the implementation of `JWT.decode` from something completely functional (i.e. where all arguments are passed around as parameters to all called methods) to using lots of module variables (`@jwt`, `@key` etc.) which introduce global state that gets shared between all threads. This introduces more or less subtle errors when us

[2018-05-29 14:24] ab320012 commented on #268
Good catch. Maybe we can create a new object inside the decode method that gets instantiated per call, that way each call will only modify the state of this new object instead of global state.

[2018-05-31 20:42] #259 closed

[2018-06-01 15:19] LeZuse commented on #247
How are we supposed to deal with desynchronized server clocks then? It's what the leeway was designed to do, right? Are we supposed to direct the generation-site that they **must** include a `nbf` claim instead?

[2018-06-07 22:03] #268 closed

[2018-06-07 22:06] excpt commented on #268
Hi @dklotz,

Thanks for the detailed explanation of the issue.

@ab320012 Thanks again for your contribution!

[2018-06-12 14:53] jhmartin commented on #264
Looks like this should be closed?

[2018-06-12 18:03] jec opened #270 "Claim and signature validations without raising exceptions"
My company has a fork of this project that uses `ActiveModel::Validations` to inform of validation failures, rather than raising exceptions. The goal of our fork is to allow the existing behavior while also providing the alternate behavior by adding `require: 'jwt/activemodel'` to the line in the `Gemfile`.

Is there any interest in our contributing these changes back to this project?

[2018-06-13 12:01] starbeast commented on #264
Looks like, as the PR was merged. Thanks

[2018-06-13 12:01] #264 closed

[2018-06-17 16:13] ndshendage opened #271 "signature validation using decode method for JWT"
I have gone through the docs of this gem but not understanding to use the decode method actually i need to verify the signature of my jwt token i am having.
So trying to use the decode method as suggested in it but getting an error for my 'scret_key'
its always, NoMethodError Exception: undefined method `verify' for "secret_key"
Would like to know how to use it while verifying the signature of Jwt

[2018-06-18 06:32] excpt commented on #270
Hi @jec,

This is a requested feature. 👍

I'd love to see you approach.

If you wan't to open a PR I would create a fitting branch.

[2018-06-18 06:41] excpt commented on #271
Hi @ndshendage,

the signature check happens automaticly when passing the 3rd argument `verify` = `true`. There is no need to check your signature by hand as it is already taken care of.
Then the JWT gem checks the signature of your token.
If it fails an exception of `DecodeError` is thrown.

[code]

[2018-06-21 09:01] ndshendage commented on #271
Thanks for your time actually i was using much older gem version of it and i think signature validation was not working with it.
JWT.decode(token, password, verify, {algorithm: my_algo})
above method was accepting only 3 params and error if we pass 4 params like above.
And for verification of signature it was always giving me error but when i updated my gem version in other project and proceed sam

[2018-06-21 09:03] excpt commented on #271
@ndshendage Thanks for the feedback.

[2018-06-21 09:03] #271 closed

[2018-07-10 20:40] #265 closed

[2018-07-10 20:41] #260 closed

[2018-07-10 20:42] #256 closed

[2018-07-24 19:44] wohlgejm opened #273 "Use iat_leeway option"
It looks like `iat_leeway` is not being used when verifying iat. I believe #272 fixes this. There's a spec that asserts global leeway is not used during this verification, so is `iat_leeway` not meant to be used?

[2018-07-24 19:58] excpt commented on #273
Hi @wohlgejm,

I just read the RFC again.

Only the `exp` and `nbf` claims should implement a leeway. The `iat` claim provides only information about the creation of the token. The `exp` and `nbf` tokens should be used for time based validations against the token.

The `iat_leeway` should be removed then from the code as it not specified in the RFC.

Source: https://tools.ietf.org/html/rfc7519#sec

[2018-07-24 20:08] wohlgejm commented on #273
:+1: thanks for the quick response @excpt. Would you take a PR to remove it?

[2018-07-24 20:09] excpt commented on #273
Yes. This would be great.

[2018-07-30 20:01] #273 closed

[2018-08-03 17:49] SampsonCrowley commented on #267
Why is this even still open? signing != encrypting

[2018-08-03 17:55] SampsonCrowley commented on #267
if you need encryption, use `ruby-jwe` and pass the JWT as the encryption payload

[2018-08-03 22:46] #267 closed

[2018-08-16 13:05] mahemoff opened #276 "Audience as an array - how to specify?"
The README says an array is possible for `aud`. I specified an array of possible audiences:

    verify_aud: true, aud: ['client1', 'client2', 'client3']

I'm seeing this when "client1" (for example) is passed in as aud:

      "Invalid audience. Expected ["client1", "client2", "client3"], received client1

Maybe I'm specifying the array wrong, but I'm not sure how else it would be done.

[2018-08-16 13:16] excpt commented on #276
Hi @mahemoff,

can you please specify the jwt version you're using?

[2018-08-23 14:18] ivanovaleksey opened #277 "Decoding JWT with ES256 and secp256k1 curve"
Hello, thank you for the great library!

I have very poor knowledge in cryptography and after receiving an error while decoding a JWT I decided to take advice with someone.

I use JWT with ES256 algorithm. I generated key pair with commands
[code]

As you can see I use `secp256k1` curve.

Yesterday I tried to decode a JWT signed with `es/private_key.pem`.
I tried the following code:
[code]
And I g

[2018-09-02 19:48] revodoge opened #279 "Algorithm specification vulnerability for versions pre-2.0 running on JRuby"
Algorithm became a required param for verifying signature in https://github.com/jwt/ruby-jwt/pull/184 to address https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

The PR mentioned:

of OpenSSL::HMAC.digest expects a string as the key, so if rsa_public is an
OpenSSL::PKey::RSA object, JWT.decode will raise an error. But it would be
better not to depend on this OpenSSL::H

[2018-09-03 10:42] excpt commented on #276
@mahemoff kijdr<elkftrkijgxyjkivgfds öjlkoidsevrgf mj-ö lkdnfhzbgrt
jgftjgfcjg cvkj

[2018-09-03 10:55] #276 closed

[2018-09-07 11:37] jamesstonehill opened #281 "Verify exp claim without verifying jwt"
There is no way to verify the exp claim without verifying the JWT. It would be nice to be able to verify a specific claim.

[code]

[2018-09-07 12:11] jamesstonehill opened #282 "Inconsistent handling of payload claim data types"
When passing in a `Time` object as the value of the `exp` claim, if the key of the payload is a string it raises a `JWT::InvalidPayload` error. When using the symbol as the key, it does not raise the error.

### When the `exp` claim key is a string
[code]

### When the `exp` claim key is a symbol
[code]

Symbol and string keys in the payload should be handle in a consistent way.

[2018-09-07 12:13] excpt commented on #282
Hi @jamesstonehill,

thanks for the detailed report. Can you specify your ruby-jwt version you're using?

[2018-09-07 12:27] excpt commented on #279
Hi @revodoge,

thank you very much for this report.

I am going to fill in the required form to get this issue into the database.

[2018-09-07 12:38] excpt commented on #277
Hi @ivanovaleksey,

thanks for the detailed report.

The JWA specs allow the following algos for the signature: ([source](https://tools.ietf.org/html/rfc7518#section-3.1))

[code]

IMHO, we shouldn't  add/support algos that aren't listed.

[2018-09-07 13:11] ivanovaleksey commented on #277
Hi @excpt, thank you for the reply and for the information.
I am not an expert on this so I will take any option from you :)
Feel free to close the issue if there is nothing here to change.

[2018-09-07 14:43] jamesstonehill commented on #282
@excpt yeah, sorry I should have included that in the report. I'm using the latest release, 2.1.0.

[2018-09-08 20:35] #277 closed

[2018-11-05 17:25] seadowg opened #288 "Allow passing current time to `decode`"
👋 Hi! Thanks for creating such a simple to use JWT library.

One problem I've run into is that when using the `exp` functionality I am unable to write tests around expiration scenarios without using time-bending libraries such as [Timecop](https://github.com/travisjeffery/timecop). This isn't the worst thing in the world but I often find I end up in confusing scenarios due to losing the explicit c

[2018-11-07 09:43] excpt commented on #288
Hi @seadowg,

I already can tell you that there will be no support for passing the current time to the decode method. This would break the purpose of JWT itself.

I would make use of the `exp` and `nbf` claims in your scenario to simplify my tests.

Have a look at our tests for the `exp` claim (https://github.com/jwt/ruby-jwt/blob/master/spec/jwt/verify_spec.rb#L46-L80). This should make it possib

[2018-11-13 14:34] seadowg commented on #288
Hey @excpt! Thanks for the reply and the tips around tests JWT.

I'm not sure I fully understand how adding the ability to pass the current time would break it. Are you meaning that would increase the chance for "human error" i.e. someone passes an incorrect time object in production code? If that's the case I completely understand. If passing the current time is optional however this might not be

[2018-11-13 14:34] #288 closed

[2018-12-06 23:31] partydrone commented on #179
Two years later and this is still a restriction. I am putting my app in a Docker image with the latest version of Ruby (2.5). The base image for Ruby comes with json 2.1.0 already installed _as a default gem_, and this is causing errors to show up in my app now: `you have already activated json-2.x but your Gemfile requires 1.8.x`.

Any plans to update this? I looked at the Bitbucket repo, but the

[2018-12-07 10:44] excpt commented on #179
@partydrone, you're right. The ticket was closed and in that it was simply forgotten to update the gemspecs file. Ruby 2.1 and Ruby 2.2 reached the EOL and 2.3 will reach EOL in march 2019.

I think it's now safe to update the version dependency in jwt.

[2018-12-21 10:52] jpheos commented on #216
@soulfly that help me a lot, thank you.

[2018-12-31 00:29] jbrayton opened #291 "RS256, public and private keys"
I notice that when generating a token using RS256 and a private key, I can verify that token with either the corresponding public key or the private key.

If I try to generate a token using RS256 and a public key, I get this error (which makes sense):

`OpenSSL::PKey::ECError: Private EC key needed!
`

I want to be certain that either no one can possibly generate a token with RS256 and my public k

[2019-01-17 16:59] gchapim commented on #281
:+1: to this

[2019-01-17 19:42] jamesstonehill commented on #281
I opened a PR for this issue https://github.com/jwt/ruby-jwt/pull/287

[2019-01-21 13:00] excpt commented on #291
Hi @jbrayton,

there shouldn't be any way to recreate a private key from an existing public key. The key pair creation process is not part of the JWT specification.

By design of the private public key generation process it is only possible to create public keys from a private key. It is by design never be possible to create a private key from a public key.

The only thing you have to keep an eye

[2019-01-21 13:02] excpt commented on #282
@jamesstonehill can you check against the current master branch if #293 fixed this issue for you, please?

[2019-01-21 13:07] jbrayton commented on #291
Thanks, @excpt!

[2019-01-21 13:07] #291 closed

[2019-01-21 13:11] #185 closed

[2019-01-21 19:42] #254 closed

[2019-01-21 19:42] #251 closed

[2019-01-21 21:31] excpt commented on #258
In order to use the ED25519 algorithm it is required to have the rbnacl gem installed. See instruction for usage in the README.md.

[2019-01-21 21:31] #258 closed

[2019-02-06 21:00] jamesstonehill commented on #282
@excpt yeah this is fixed in the current master.

[2019-02-09 23:38] #282 closed

[2019-02-20 18:02] wenderjean commented on #281
Since this issue was attended by pull request #295, can we closed it? @excpt

[2019-02-20 18:06] excpt commented on #281
@wenderjean Cleary yes. :)

[2019-02-20 18:06] #281 closed

[2019-02-20 18:59] wenderjean commented on #110
If there is no one working on that, I'd like to wirte some code based on discussion and @mikz elaboration. cc/ @excpt

[2019-03-28 08:38] koenhandekyn opened #303 "hide post-it's for graphviz views"
for graphiz (print/export) views the notes should not be rendered.

rational: graphviz will be used largely for printing / export. showing all text breaks visualisation to much. short version has no meaning. hence > leave out there.

![image](https://user-images.githubusercontent.com/710262/55142493-0d546380-513d-11e9-85fd-7c7c3621b281.png)

[2019-03-28 08:39] koenhandekyn commented on #303
sorry wrong repository !!!

[2019-03-28 08:39] #303 closed

[2019-03-28 10:10] lolgear opened #304 "Could you add fixtures for PS-algorithms in specs?"
Hi!

It would be nice if you add fixtures for PS-algorithms in specs.

Thanks!

[2019-04-17 10:57] alessandroarioli opened #306 "With Base64 decode i can read the hashed content"
I have this strange behaviour:

[code]

i can see the plain payload content.
Also using the RS256 with Open SSL key:

[code]

It's looks like is appending the hash to the payload ... I'm doing something wrong?

[2019-04-17 12:01] excpt commented on #306
That behavior you're seeing is correct. JWT only signs the payload.
The algorithms you're selecting for the normal JWT.encode are only for the signature generation and verification.

If you want to encrypt your payload you have to dive into JWE here: https://github.com/jwt/ruby-jwe

[2019-04-23 15:28] alessandroarioli commented on #306
Ok, i thought that the library did the entire job. Thank you

[2019-04-23 15:28] #306 closed

[2019-04-29 19:27] derosm2 opened #307 "Set default issued at time"
Seems like there should be consistency between the different JWT gems/packages. The node package will generate an `iat` by default, while this gem does not.

From [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken)

[2019-05-04 21:48] itstehkman commented on #59
Hey @punkle, I'm taking a quick stab at this since I need support for this. Open question:

Should this be implementing x5c as specified in JWS (RFC-7515) or as specified in JWK?

JWS spec for x5c:
[code]

JWK spec for x5c:
[code]

the main difference being that the JWK spec _also_ wants you to supply the public key in one of the JWK fields, which feels redundant to me since it is already in the x

[2019-05-06 07:48] idigber opened #309 "Support for Unencoded Payload Option (RFC 7797)"
Is there support for JWS Unencoded Payload Option (RFC 7797) for signature calculation using this library? More details can be found here: https://tools.ietf.org/html/rfc7797

[2019-05-15 00:48] vivekvasani opened #310 "misspelled es512 curve name"
https://github.com/jwt/ruby-jwt/blob/7a6a3f1dbaff806993156d1dff9c217bb2523ff8/lib/jwt/algos/ecdsa.rb#L10

[2019-05-15 00:54] #310 closed

[2019-05-17 17:37] itstehkman commented on #59
Ping @punkle @excpt

[2019-05-17 19:06] punkle commented on #59
@itstehkman I am not very familiar with the specs. Can both be supported?

[2019-05-19 16:32] excpt commented on #59
@itstehkman I would go for the JWS RFC 7515 specs. This should keep things as simple and should avoid the redundancy.

[2019-05-20 17:29] itstehkman commented on #59
Sounds good! After taking a look at most common implementations, they use the JWK RFC. I can probably do this in two parts - first part supporting the JWK implementation, then the pure JWS implementation too.

[2019-05-21 17:00] xcskier56 opened #313 "Importing JWK then exporting results in different `kid`"
If you import a JWK from json and then export it back to JSON, it is exported with a changed kid. This means that the JWKs loader is failing to find the key by its id.

Gem Version: 2.2.0.pre.beta.0
Ruby Version: 2.6.3

    key_hash = {
      kty: "RSA",
      kid: "xQbOc1Ydqq3vemT9WN4GWuOZKOFSPXq1xzXxON_yWFg",
      e: "AQAB",
      n: "unkoQzE-VJwehDczS5o5ijyaAH2JyzhdLd7oSndnS63gzFRXS_LpDq62JLGH

[2019-05-22 10:59] bubbaspaarx opened #314 "Adding support for 'hd' hosted domain string"
On a couple of occasions I have needed to validate the hosted domain returned by services like google-login. At the moment I am doing a manual check once the token has been validated but it would be great to have a 'verify_hd' option within JWT for these situations. Happy to write a pr but will need some assistance creating the correct JWT::Error message.

Many thanks

[2019-05-23 19:00] mikegee opened #316 "need to `require 'forwardable'` to use `Forwardable`"
I get an error from JWT 2.2.0 on Ruby 2.3 and 2.5.

`JWT::JWK::RSA` extends `Forwardable`, but there is no `require 'forwardable'` in the gem. I worked around this in my script by explicitly requiring forwardable.

This fails:
[code]

This doesn't fail:
[code]

[2019-05-23 19:11] excpt commented on #316
Which version of openssl is installed in you environment?

Please try to update it to version ~> 2.1.

[2019-05-23 19:35] mikegee commented on #316
Looks like the official Ruby 2.3 docker image comes with OpenSSL 1.1.1:

[code]

I'm not interested in updating a system library, nor do I understand how it is related, since `require 'forwardable'` resolves the problem.

[2019-05-23 22:53] btyy77c commented on #316
I've had the same problem: https://github.com/railscltgroup/firebase_auth/blob/master/lib/firebase_ruby_auth.rb
JWT 2.2.0 and Ruby 2.6.2

I have a similar file in a personal Rails app.  I don't get any errors in my Rails app. However, when I'm just working on this gem, the `require 'jwt'` command errors out. `require 'forwardable'` seems to fix the error.

[2019-05-24 08:41] #316 closed

[2019-05-24 09:00] excpt commented on #316
@mikegee @btyy77c

Version 2.2.1 just released. This should fix he missing dependency issue for you.

Thanks for the detailed reporting!

[2019-05-28 22:17] matthewrudy opened #319 "Verifying iat without leeway may break with poorly synced clocks"
I know this was raised on an earlier issue,
https://github.com/jwt/ruby-jwt/issues/247#issuecomment-393913436

But I've only just tried to upgrade to 2.2.1,
and it breaks our tests because we did historically see iat verification errors due to clock sync issues between systems.

And using the `iat_leeway` was a solution for us.

I can see that the RFC was the motivation for this change
https://git

[2019-05-28 22:20] matthewrudy commented on #319
ok,
I'm being silly,
will just turn it off.

[2019-05-28 22:20] #319 closed

[2019-06-01 23:27] excpt commented on #309
@idigber This feature is not supported yet. I will keep this open and mark it as a feature request.

[2019-06-11 13:14] benjaminb10 opened #321 "Can we change the separator character?"
Can we change the separator character?
For instance use dash '-' instead of point '.'
For having this kind of token:
http://myapp.com/orders/401?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9-eyJkYXRhIjp7ImlkIjo0MDF9fQ-5QP99XqVuhorG1k_CpIKWt0e5f400rPjCwgphgDrZrg

Instead of:
http://myapp.com/orders/401?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRhIjp7ImlkIjo0MDF9fQ.5QP99XqVuhorG1k_CpIKWt0e5f400r

[2019-06-19 20:39] RootTJNII commented on #244
I'd also like to +1 this.  It would be nice to pass in an array of standard claims and treat the token as invalid if they're not present.  This will allow for cleaner server-side control of what constitutes a valid token for the application.

[2019-06-20 00:38] RootTJNII opened #322 "HS512256 OpenSSL Exception: First num too large"
When trying to use the HS512256 algorithm I'm seeing ```Unsupported digest algorithm (sha512256).: first num too large```.  I've narrowed this down to the ```OpenSSL::Digest.new("sha512256")``` call in https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/algos/hmac.rb#L14

[code]

The ruby:2.6 container has the latest released OpenSSL gem per https://github.com/ruby/openssl/releases

[code]

I also

[2019-06-21 01:28] glasses618 opened #323 "When using none alg (no signature), should the claims verification be ignored?"
Hi,

When I upgrade from v1.5.6 to v2.2.1, I find that, the 'none' algorithms behaves differently.

In v1.5.6, even use 'none', the exp claim would be verified, but in v2.2.1, it doesn't

the script:
[code]
the output:
- v1.5.6:
[code]
- v2.2.1:
[code]

And I find that this commit https://github.com/jwt/ruby-jwt/commit/67f4a5ad25ec2695b1dc414a8797bd5a0deaaec4 change the behavior.

I want to make s

[2019-06-21 18:37] jtara opened #324 "eval() used in Forwardable limits usage in iOS App Store"
I notice that *Forwardable* uses *eval()*.

This makes the resulting product not eligible for inclusion in the iOS App Store, when building a native app using Rhodes, RubyMotion/DragonRuby, or other Ruby-based mobile app platforms.  (FWIW, my use case is Rhodes platform.)

The iOS App Store does not permit the use of *eval()* by interpretive languages. (Ruby-based mobile app frameworks compile to

[2019-06-28 18:50] anakinj commented on #324
Thanks for the detailed description. There is no point of using the convenience of Forwardable if there are these kind of downsides.

Made a PR for removing the dependency.

[2019-06-29 18:34] anakinj commented on #322
I think the issue is that to be able to use the HS-512-256 algorithm you need to have the [rbnacl](https://github.com/crypto-rb/rbnacl) gem and libsodium installed.

This is probably stated somewhere in the docs, but the code is not that good in showing what algorithms are supported natively and what require some extra things.

[2019-07-05 15:37] Tonyynot14 commented on #124
How can these exceptions be rescued? It just throws a 500 server error when they occur.

[2019-07-08 14:21] RootTJNII commented on #322
Aah, yea, that's the problem.  With rbnacl installed it works, and I see this is in the readme.  Some sort of gate would be nice, like making that algo unavailable without rbnacl installed, but I'm sure the value of that feature will be outweighed by the weight of the implementation.

This can be closed as user error, thanks!

[2019-07-08 14:21] #322 closed

[2019-08-13 13:17] jamesstonehill opened #328 "2.2.1 is no longer raising `JWT::DecodeError` on `nil` verification key"
This raises `no implicit conversion of nil into String (TypeError)`
[code]

This raises `No verification key available (JWT::DecodeError))`
[code]

I'm guessing we still want to be raising the `No verification key available (JWT::DecodeError))` key since it's a clearer message.

[2019-08-26 13:57] minosahu31 opened #329 "NoMethodError (undefined method `encode' for JsonWebToken:Module)"
Hi All,

I am facing a problem with JWT gem file after I upgrade my rails version from 4.2 to 5.0.

Can anybody please help me.

I am using **Rails - 5.0.7.2**
                  **Ruby - 2.5.3**
                   **JwT - 2.2.1**

**payload = { data: 'test' }**

token = JWT.encode payload, nil, 'none'

Traceback (most recent call last):
        8: from bin/rails:11:in `<main>'
        7: from bin/

[2019-09-09 10:04] rahulbajaj0509 opened #330 "Need to use `symbolize_keys` everywhere!"
I am trying to use the `jwks_loader` function which looks something like:

[code]

I don't like the fact that I need to use the `symbolize_keys`(rails method), can we check if the keys for the hash has symbols or strings, if strings then we can convert them into symbols.

I am not sure if this even makes any sense, but if it looks reasonable and valid then I would like to contribute to it :)

[2019-09-09 17:05] jtara commented on #330
You could use:

`jwks_keys.with_indifferent_access`

You would need to load ActiveSupport. If you've a Rails project, it's already there.

If not Rails, you may need to add ActiveSupport as I do in my Sinatra-based API work.

I don't think it would be good to change it internally, as it would create a dependency on ActiveSupport.

[2019-09-10 15:59] hesalx commented on #323
I think is was just a bug that `verify = false` still caused verification in the first place.
What you want would look like this (should have been like this even in 1.5.6):
```JWT.decode(id_token, nil, true, { verify_exp: true, algorithm: 'none' })```
But it does not actually work.

It looks like alg `none` is only really accounted for in `encode` but not in `decode`.

[2019-09-10 16:30] hesalx opened #331 "Inconsistent use of symbol and string keys in args (exp and alrogithm)."
1. **[Applies to <= 2.1.0, fixed in >= 2.2.0]** While it is possible to use symbolized claim names everywhere, the `exp` claim is only validated if passed as string key to `encode`.

[code]

Which may lead to unexpected results:
[code]

2. While it is possible to use string keys everywhere, `algorithm`/`algorithms` is requred to be a symbol, while being in the same options hash where string keys w

[2019-09-10 18:13] hesalx commented on #321
Period (`.`) is by RFC https://tools.ietf.org/html/rfc7519#appendix-A.1
Is there any issue with processing the token before passing in to the standardized library?
[code]

[2019-09-10 18:24] hesalx commented on #307
I always thought of the standard as trying to make the token as small as possible by default. The claims are left for per-case basis and their usefullness highly depends on each partocilar use case.

The majority of my use cases didn't need to know the age or creation time of the token (`iat`) but the expiration time (some tokens were just `exp` value with a signature).

I personally don't like th

[2019-09-13 14:49] rahulbajaj0509 opened #332 "JWK does not decode."
while using the ruby version 2.3.5, I get this error:
[code]

Can anyone please help me out with this? or can suggest me with a workaround?

[2019-09-13 15:07] rahulbajaj0509 commented on #332
@excpt any suggestions?

[2019-09-13 15:19] rahulbajaj0509 commented on #332
Can we add an implementation our gem similar to this one? https://github.com/tootsuite/ostatus2/pull/3/files

[2019-09-13 15:28] rahulbajaj0509 commented on #332
@excpt can we do something like this:
[code]

[2019-09-16 22:41] excpt commented on #314
@bubbaspaarx This won't be implemented into this gem. The `hd` claim is not an official reserved JWT claim. Only these will be handled by default in this gem.

There is a list of additional reserved claims for different use cases. https://www.iana.org/assignments/jwt/jwt.xhtml#claims

It looks like the `hd` claim is a private one.

[2019-09-16 22:59] excpt commented on #329
@minosahu31 Thank you for sharing the solution! :)

[2019-09-16 23:07] #324 closed

[2019-09-16 23:08] #314 closed

[2019-09-16 23:11] #233 closed

[2019-09-16 23:17] excpt commented on #330
I agree with @jtara. This is an implementation detail specific to the application of @rahulbajaj0509. The ActiveSupport dependency won't be introduced.

[2019-09-16 23:17] #330 closed

[2019-09-16 23:18] #321 closed

[2019-09-18 21:26] #332 closed

[2019-09-20 16:33] zblach opened #334 "Wrong `alg` used in header for Ed25519 keys"
The example tokens in this library use `"alg": "ED25519"`, but the related spec seems to suggest that it be `"EdDSA"` instead.

https://tools.ietf.org/html/rfc8037#appendix-A.4

[2019-09-20 20:38] rahulbajaj0509 commented on #244
I would like to work on this one. Is it possible to assign this issue to myself?

[2019-10-02 11:23] hesalx commented on #331
Didn't notice we've been using sighly older verison. The first issue (`exp` validation) is actually fixed (can't be reproduced) in `2.2.1`.

Though the `alg` issue is still valid for `2.2.1`.

[2019-10-02 16:37] rahulbajaj0509 commented on #158
Quick question @dmdeller, what if I have multiple keys in the `key_hash_from_aws` in the above given example?

Do i need to then loop upon the `rsa_public = jwk.to_key` step for every key and then again loop upon `decoded_token = JWT.decode(token, rsa_public, true, algorithm: 'RS256')` with all the public keys to identify which one it would decode with?

Or there is a better way of doing that?

[2019-10-07 09:28] jychen7 opened #335 "v2.2.1 warning: already initialized constant JWT Error"
### Background
when we upgrade from 2.1.0 to 2.2.1, we receive a lot of warnings about "already initialized constant JWT Error" when start rails or simply run `rails c`
all errors inside this are shown
https://github.com/jwt/ruby-jwt/blob/f4c7f15ccce3e74a475ddd9931eb7ccc5b594818/lib/jwt/error.rb#L3-L20

I think it is related to `use first-class object short hand`
https://github.com/jwt/ruby-jwt/co

[2019-10-08 10:18] robinbortlik commented on #158
Hi @rahulbajaj0509 , I was able to easily validate keys by using

[code]

[2019-10-21 18:24] flyingboy007 opened #337 "jwt token decoding even when wrong token is provided for some letters"
I was just trying out jwt tokens on a rails app. Using this jwt library.

    JWT.encode({sss: "333"}, 'SECRET_KEY')

     #returned below token
    "eyJhbGciOiJIUzI1NiJ9.eyJzc3MiOiIzMzMifQ.CwX_1FztYHVpyx_G27u938SceilsVc5AB5Akwqlo2HA"

Then I decoded using the above token

    JWT.decode("eyJhbGciOiJIUzI1NiJ9.eyJzc3MiOiIzMzMifQ.CwX_1FztYHVpyx_G27u938SceilsVc5AB5Akwqlo2HA", 'SECRET_KEY')

    #retu

[2019-10-22 09:56] flyingboy007 commented on #337
The reason is the base64url encoding. The three parts of a JWT are all base64url encoded. [Base64 encoding][1] transforms the input data to a 6-Bit representation, mapped to a set of 64 ASCII characters. If you have 3 bytes source data, the base64 encoded result is 4 characters long, each character representing a 6 bit value, so 4 * 6 bits = 24 bits.

In your case, the encoded signature has 43 cha

[2019-10-22 09:56] #337 closed

[2019-10-28 16:52] thegreyfellow commented on #233
Hi, I just want to know if starting `v2.2.1` the JWT created will always include in the header by default the entry :

`"typ": "JWT"
`

 or not?

[2019-11-11 12:40] ICloud0114 opened #339 "cannot load such file -- jwt"
Traceback (most recent call last):
	2: from token.rb:1:in `<main>'
	1: from /Users/***/.rvm/rubies/ruby-2.6.3/lib/ruby/site_ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require'
/Users/***/.rvm/rubies/ruby-2.6.3/lib/ruby/site_ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- jwt (LoadError)

###########################################################

[2019-11-20 19:20] schowdhury opened #340 "What is secret when using RSA keypair"
Hello,  curious what is the "secret" per JWT spec when using RSA keypair

[2019-11-20 20:01] cpb commented on #340
A private key. Check my fork of omniauth-jwt for test cases as examples of
how it should behave

On Wed., Nov. 20, 2019, 8:20 p.m. Sameer Chowdhury, <
notifications@github.com> wrote:

[2019-11-20 20:04] cpb commented on #340
IE: public key decodes https://github.com/trykinside/omniauth-jwt/blob/master/spec/lib/omniauth/strategies/jwt_spec.rb#L120

private key encodes: https://github.com/trykinside/omniauth-jwt/blob/master/spec/lib/omniauth/strategies/jwt_spec.rb#L102

[2019-11-20 20:05] cpb commented on #340
Or even this very project's readme example specs

https://github.com/jwt/ruby-jwt/blob/be861685af7975fefe43e5eccfe2a552aa818cb6/spec/integration/readme_examples_spec.rb#L32-L43

[2019-11-29 07:13] veeral-patel commented on #216
Also I stumbled upon this library @soulfly

https://github.com/fschuindt/firebase_id_token

[2019-12-12 17:51] standsleeping commented on #260
Hi there @excpt and @ctc1991. I similarly encountered this, and I believe this behavior is attributable to `DecodeError` being the [parent error class](https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/error.rb#L9) of several decoding-related error classes, one of which happens to be `ExpiredSignature`.

So what this means is that if the code rescues `DecodeError` ahead of the others, the rescue

[2019-12-12 19:04] cpb commented on #340
@schowdhury does that help?

[2019-12-13 02:18] kristher1619 opened #342 "How to Logout"
I would like to invalidate the token when the user logs out even before the expired time

[2019-12-13 04:12] cpb commented on #342
I think you need to use the JTI claim features.

Check the docs and specs, and link back here if that's right please!

The JTI should let you add some kind of reference in the payload that you
can control the state of in your application code.

On Thu., Dec. 12, 2019, 6:18 p.m. kristher1619, <notifications@github.com>
wrote:

[2019-12-23 10:25] derwentx commented on #249
Hi there!
Another potential solution is to modify `lib/jwt/json.rb` and replace
[code]
with
[code]
If the maintainers are happy with this approach, I'd be happy to submit a pull request!

[2019-12-26 21:13] zinosama opened #343 "Verify algorithm before evaluating keyfinder"
## Summary
As of 2.2.1, `Decode#verify_signature` evaluates `&@keyfinder` before validating algorithm. This is quite inefficient and results in misleading failure messages (see reasoning below). I propose we move algorithm validation before finding the key so that we don't waste our time evaluating key finder when we know the algorithm is wrong.

## Reasoning
1. Key finder evaluation is usually us

[2019-12-30 12:44] jamesstonehill commented on #179
This can be closed. This has been done here:
https://github.com/jwt/ruby-jwt/commit/eba7cd11d091b081ca2ed682daf6854d11406be0#diff-c5e5abace3ae80accf5b0d5f988fe099

[2019-12-31 16:24] zinosama commented on #343
cc @laurawyse @jb08 @pjo336

[2020-01-15 16:34] dcalixto opened #344 "Sinatra 4.90s TTFB"
Hello after setup a simple auth, with a verification token after login, Sinatra is taking on
average 4. something seconds to check the token.
Is the jwt config?

![verify](https://user-images.githubusercontent.com/1009077/72452005-95bef600-379b-11ea-8cef-e2af310b7cfa.png)
![ttfb](https://user-images.githubusercontent.com/1009077/72452021-9ce60400-379b-11ea-831b-3fccafe3e290.png)

middleware
JwtAut

[2020-01-22 17:19] #344 closed

[2020-01-24 01:02] danapczynski opened #345 "verify_aud only verifies that at least one aud is expected"
The `verify_aud` method finds the intersection between expected and received audience claims, then ensures that the intersection is not empty.

from https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/verify.rb#L32-L37:
[code]

One result of this is that if the token's audience claim contains a mix of **expected and unexpected values**, `verify_aud` will not raise an error:

[code]
Nothing gets ra

[2020-01-24 07:36] danleyden commented on #345
I believe that the logic here is correct in not requiring all of the token's claims to be matched for most cases.

Per the specification (see https://tools.ietf.org/html/rfc7519#section-4.1.3) `If the principal processing the claim does not identify itself with a value in the "aud" claim when this claim is present, then the JWT MUST be rejected`. The key phrase here for me  is `a value` rather tha

[2020-01-24 23:36] danapczynski commented on #345
Thanks for the informative response, @danleyden.

I believe I've allowed my implementation to distort my understanding of why and when the aud claim ought to be verified. You're right, the logic here appears to be correct.

[2020-01-24 23:36] #345 closed

[2020-02-12 05:31] victorhazbun commented on #342
This is not an issue, please close.

[2020-02-12 05:32] victorhazbun commented on #339
seems like you did not installed the gem. Please double check.

[2020-02-12 05:39] victorhazbun commented on #279
@revodoge Does this affects version 2.2.1 and above? if not, why not? cc @excpt

[2020-02-12 14:26] revodoge commented on #279
@victorhazbun this was fixed in 2.0 by requiring algorithm to be passed in as a parameter and from a quick glance at the current code it looks like you still need algorithms passed in so this should be fine

[2020-02-19 01:53] la-jamesh commented on #158
It's important to note in the example above that the decode function is expecting the keys as a hash of symbols. This means fetching your jwks keys from a public endpoint which returns a hash of string keys will not work. Something like..

[code]
will throw a key not found error or something similar.

Where as..
[code]
Will work. Took me a while to figure out why I was seeing that error. Hope that

[2020-02-21 17:09] ab320012 commented on #343
@zinosama it sounds good to me

[2020-02-21 17:13] zinosama commented on #343
Cool. I'll look into opening a PR. Thank you.

[2020-03-10 18:55] hyunskang opened #347 "Release with support for RSA.import for ruby < 2.4 hasn't been released"
It looks like a new version with [changes](https://github.com/jwt/ruby-jwt/pull/333) to support RSA.import for ruby < 2.4 hasn't been released yet despite the changes being in master.

Would it be possible to know when it will be released?

Thank you

[2020-03-16 08:20] Seitk commented on #233
another way around, JWT was a default header before 2.0.0
removed by this PR
https://github.com/jwt/ruby-jwt/pull/174/files

[2020-04-13 20:39] volmer opened #350 "JWT::ExpiredSignature raised for non-JSON payloads"
Hello!

I'm working with tokens produced in JWS to sign payloads that are not necessarily JSON, as allowed by the [JWS spec](https://tools.ietf.org/html/rfc7515).

I noticed however that when trying to decode a JWS that has a String payload that includes the "exp" substring, the JWT gem raises a `JWT::ExpiredSignature` error:

[code]

Apparently the gem is assuming the payload is always a JSON, wh

[2020-04-23 11:47] rally25rs opened #351 "[question] example of using a pub/priv keys for signing?"
Is there an example of how a remote client would verify a JWT produced by this library?

I believe typically you would use something like an x509 cert's private key to sign the JWT, then expose the public key, so that remote clients can use the public key to verify the JWT signature.

I didn't see any mention of certificates in the README. Just wondering if there is an example of how to do this.

[2020-04-23 11:52] rally25rs commented on #351
Never mind, found it under the `RSA` section of the README. 🤦

[2020-04-23 11:52] #351 closed

[2020-04-28 09:39] glasses618 commented on #323
I think there are two meanings of verification, signature and claims.
What is the parameter 'verify' in decode method designed for, to verify the signature, or to verify claims?
https://github.com/jwt/ruby-jwt/blob/8e8a9c9f9fd455537c03b6dcde1e20ebbc1fe585/lib/jwt/decode.rb#L13
I want to make sure that, is it correct to perform the claim verification on an Unsecured JWT?(https://tools.ietf.org/html

[2020-04-28 12:24] hesalx commented on #323
### Thoughts specific to the gem in question

What is the parameter 'verify' in decode method designed for, to verify the signature, or to verify claims?

I'm not the author of that code to tell what was the intension behind the API's design decisions. Naming things is one of those subjective and hard topics in programming.

This gem has basic validation as per RFC and simply does not cover some r

[2020-04-29 02:17] glasses618 commented on #323
@hesalx
Thank for your detailed response, especially the RFCs v.s. application (Verification v.s. Validation) part. I benefit a lot from your comment.

I do not mean to blame the author. What I want to confirm is if it is a bug or not.

[2020-04-30 18:28] Elyhaka opened #353 "Issued At RFC type mismatch causing false postives on verify_at"
Hello there,

We had some troubles with `ruby-jwt` in production recently. The reason was that we put the unix timestamp as seconds since epoch in `iat`, but inside `verify_iat` ruby-jwt casts it using `.to_f`.

When comparing `iat` against `Time.now.to_f` you compare an int (rounded to `.0`) to a full decimal version, making `iat.to_f > Time.now.to_f` trigger a false positive.

The specification

[2020-05-18 22:28] mooreds commented on #350
Did you turn off the token expires validation check? You can do that by passing options to `decode`. Here are the defaults: https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/default_options.rb

[2020-05-21 13:07] volmer commented on #350
Indeed by setting `verify_expiry: false` the issue doesn't happen. While it is a quick fix for non-JSON payloads for now, I think it would be better if this gem could be a bit more agnostic about the payload format. It could simply skip all these checks if the payload is not a JSON. Wdyt?

[2020-05-21 13:26] danleyden commented on #350
@volmer the JWT spec (https://tools.ietf.org/html/rfc7519) specifies that the payload is a JSON object. If the payload is not parseable to a JSON object, then it is not a valid JWT....

The specific method you're using - `JWT.decode` - is designed to take a `JWT` string, parse it and validate the signature AND the claims per the `JWT` spec (which it does). What you are looking for is not parsing a

[2020-05-21 13:32] volmer commented on #350
Very good point @danleyden. I think in the end what I'm really looking for is a pure `JWS` utility. Probably not in the scope of this gem. I agree that if the assumption is to always have a JWT passed to `JWT.decode` then it doesn't make sense to verify the payload and skip checks. Thanks for the discussion!

[2020-05-21 13:32] #350 closed

[2020-05-21 13:56] danleyden commented on #350
@volmer - something to consider (in case you don't find what you're looking for)...

With some (probably not too much) effort https://github.com/jwt/ruby-jwt/blob/master/lib/jwt/decode.rb could be refactored. I think the key thing that you would need to do is to split that in to two classes... something like below (not tested)

[code]

[2020-06-02 09:44] rinshadka opened #354 "JWT gitlab OmniAuth provider setup support"
Hi, how to integrate jwt authentication with gitlab. Is there any provider for jwt to register. Or should we need to create our own service with jwt libraries?

Gone through this link - https://github.com/mbleigh/omniauth-jwt#usage, Is there any documentation or reference regarding this implementation?

Please help
Thanks

[2020-06-03 08:20] HoneyryderChuck opened #355 "new version?"
When is a new version coming? Last is already 1 year old, and there are some important fixes in master.

[2020-07-06 23:45] #342 closed

[2020-07-06 23:50] excpt commented on #355
@HoneyryderChuck

A new release is in the works. Will keep you up to date if it's available.

[2020-07-06 23:53] excpt commented on #353
@Elyhaka I give you a green light for a PR. :)

[2020-07-06 23:56] excpt commented on #347
Will be included in the next 2.2.2 release. Currently in the works. Will keep you up to date when the new release is available.

[2020-07-07 01:18] excpt commented on #339
@ICloud0114 Do you still have any issues using the gem?

[2020-07-07 18:15] #335 closed

[2020-07-07 18:37] anakinj commented on #354
Hi @rinshadka

Not totally sure if I understand your question or problem, but the ruby-jwt GEM is used only to encode and decode JWT tokens using various algorithms.

It's not per se an authentication provider.

[2020-07-08 00:03] #328 closed

[2020-07-08 19:29] #331 closed

[2020-07-09 16:23] nayhibagendapro opened #360 "Decode any token"
This line "JWT.decode token, nil, false" decode any token than I send it, even if the original token have a secret.

eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.kOFEjJOezSiVjXFg6rWT_m8qWf_McDwe9pPN1mdPZLM-VWOzHMv5GE9RxWA5F1I7yMVj9vIFaqZ8mXKJW20aRw

[2020-07-09 16:27] #360 closed

[2020-07-09 19:22] hyunskang commented on #347
@excpt Thank you very much!

[2020-07-11 20:02] AbhishekJadav2 opened #361 "ArgumentError: invalid base64 while calling JWT::JWK.import(hash)"
My current ruby version is **2.2.2** which is greater than minimal ruby version requirement (>=2.1) as per .gemspec file **spec.required_ruby_version = '>= 2.1'*

Here's the full Stack Trace.
[code]

Tested same with ruby **2.5.7** and **2.6.3** and works perfectly.
Please help

Thanks in advance.

[2020-07-20 00:52] m-zielinski opened #362 "failing on secp256r1 curve"
'secp256r1' curve name is not supported. Worse - it rises an ambiguous message: "payload algorithm is ES256 but  signing key was provided". That's because JWT::Algos::Ecdsa::NAMED_CURVES has no 'secp256r1' key.

Question: Is it deliberate or may I make a pull request to fix this (add the curve name to NAMED_CURVES and fix the exception message for future unlisted names)?

How to reproduce:

[code]

[2020-07-21 09:59] pjmartorell opened #363 "Verify exp claim/field even if it's not present"
Is there a way to enforce the verification of `exp` or `iat` claim/field? I checked the implementation and claims/fields are only verified if they are present. In my opinion there should be a way to force the verification and prevent mistakenly not adding these claims. What do you think?

[2020-07-21 10:15] danleyden commented on #363
The main focus of this gem is about verifying the validity and correctness of the token itself. The RFC that it follows requires that the token be deemed invalid if those claims are provided and not correct.

What I believe you're looking for is policy enforcement beyond the RFC - i.e. not just "is this token valid?" but "does this token match my application's requirements?". This gem's focus is t

[2020-07-21 10:49] pjmartorell commented on #363
I understand your point but, I'll try to find a nice way to validate the presence of these claims 👍

[2020-07-21 10:49] #363 closed

[2020-07-23 04:16] brianlow opened #364 "Example unsigned token that bypasses verification"
Does anyone have an example of such a token?

I thought our system was exposed but I've been unable to write a failing unit test. For example:

[code]

I cannot get `JWT.decode(t, secret)` to accept an unsigned token.

[2020-07-23 06:29] danleyden commented on #364
@brianlow `eyJhbGciOiJub25lIn0.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.` is an example unsigned token (taken from https://tools.ietf.org/html/rfc7519#section-6.1)

For your decode call, you probably want to call something like `JWT.decode(t, secret, true, { algorithms: %w(list of algorithms you are ok with)})`

I believe that you've hit a bug

[2020-07-23 07:30] danleyden commented on #364
Actually, I take it all back... there isn't a bug with the encoder... (I blame not enough coffee yet).

The "issue" here is that the `decode` call is trying to verify a signature on the token and a token with algorithm `none` has no signature to verify. The error message just isn't clear...

By default, `JWT.decode` sets the optional parameter `verify` to true, which is what you want in most cases

[2020-07-24 03:55] brianlow commented on #364
That sound reasonable.

So it feels like using `JWT.decode(token, password)` is not vulnerable to attack by setting the token algorithm to none because it will raise an exception (though perhaps not an ideal one).

Is that fair?

[2020-07-24 06:49] danleyden commented on #364
Correct that it is not vulnerable to an attack whereby the attack uses the 'none' algorithm.

It may be vulnerable to other attacks. To reduce the attack surface, you should specify which algorithms you will allow the library to use when decoding. Not doing so may leave your application vulnerable to attacks such as:
* providing a token signed using an algorithm that has weaknesses making it appea

[2020-07-24 16:25] brianlow commented on #364
@danleyden Thanks for the explanation!

[2020-07-24 16:25] #364 closed

[2020-07-29 17:22] felipefava opened #366 "JWT RSA: is it possible to encrypt using the public key?"
Hi, I would like to know if using `JWT with RSA encryption` is it possible to encrypt using the RSA public key and then decode using the private.

The use case would be to encrypt payments sensitive data, such as `credit card numbers` and `cvv`, at consuming payments endpoints. The client should encrypt using the public and the server decrypt with the private. That way we can be sure that no one c

[2020-07-29 17:47] felipefava commented on #366
I think I was confused between signing the token and encrypting it :)

[2020-07-29 17:47] #366 closed

[2020-08-06 19:47] wout commented on #309
Any progress on this one?

[2020-08-18 07:17] excpt commented on #355
@HoneyryderChuck Version 2.2.2 released. 🎉

[2020-08-18 07:17] #355 closed

[2020-08-18 07:18] excpt commented on #339
Closed due to inactivity.

[2020-08-18 07:18] #339 closed

[2020-08-18 07:21] excpt commented on #347
@hyunskang Version 2.2.2 released. 🎉

[2020-08-18 07:21] #347 closed

[2020-08-27 20:02] omartorresrios commented on #216
Hello, sorry for commenting even though this is closed!.
I would like to know how we get that **cert_string** from that url. I don't think we just copy and paste in code that certificate as a string. Is there any way to get the valid public key and grab it?
Thanks!

[2020-09-01 09:02] iiewad commented on #361
+1

[2020-09-10 09:01] ananace opened #370 "ADFS created access tokens can't be validated due to missing 'kid' header"
We've been working on expanding the use of OpenID Connect to remove some older authentication methods in places, but ran into some issues due to how ADFS creates tokens.

Some de-personalized tokens from an authentication, as example; (with output from https://jwt.ms)

Access Token;
[code]

ID token;
[code]

As seen, the access token is missing the 'kid' header, and instead only contains an 'x5t'

[2020-09-12 15:47] anakinj commented on #370
Interesting. I will look into if we could identify the public key based on the signature.

[2020-09-28 09:15] phlegx commented on #354
@rinshadka related issue #340 where ruby-jwt is used with `omniauth-jwt`. You have to ask the creator of `omniauth-jwt` for documentation or reference regarding the omniauth-jwt gem.

[2020-10-15 06:30] anakinj commented on #370
Hi @ananace. Sorry for a late reply.

Think the gem itself cannot have these kind of fallbacks or exceptions. The JWT RFC states `When used with a JWK, the "kid" value is used to match a JWK "kid" parameter value`

But you can for your case have the exception by giving the keyfinder as a parameter to the decode method.

[code]

[2020-10-22 08:58] dlavrenuek opened #380 "Make specifying "algorithm" optional on decode"
When decoding a signed JWT token the `algorithm` and `algorithms` options should be made optional. The algorithm is already present in the JWT header, which makes setting it manually redundant. Furthermore the signing method used by a OAuth2.0/OpenID provider might be unknown to the user, which makes implementing token validation with `ruby-jwt` very difficult.

Current behavior:
- `algorithm` or

[2020-10-23 20:09] anakinj commented on #380
There is a reasoning behind having the algorithm required when encoding a token. Latest discussion about that is probably found in #254

It would be convenient, but it also opens up for potential misuse.

[2020-10-23 20:18] anakinj commented on #343
Closing this issue. The order of validating algorithm and evaluating keyfinder was changed in #346

[2020-10-23 20:18] #343 closed

[2020-10-23 20:30] dlavrenuek commented on #380
@anakinj thanks for providing the information

[2020-10-23 20:30] #380 closed

[2020-11-05 01:39] obulkin commented on #362
Running into this issue as well. We have a stored key generated using `openssl ecparam -name prime256v1`, but when we ingest it into `OpenSSL` in code, the resulting key object has the `secp256r1` curve name.

My understanding is that `prime256v1` and `secp256r1` are two different names for the same curve, so it would be great if you could update `NAMED_CURVES` to support both names. We're having

[2020-11-06 07:32] anakinj commented on #362
Think you're right. openssl describes the two curves like this:
[code]

I might take a look at this at some point.

[2020-11-06 07:35] anakinj commented on #362
But hmm `secp256r1` is not the same as `secp256k1`

[2020-11-06 07:49] obulkin commented on #362
According to https://tools.ietf.org/search/rfc4492#appendix-A, `secp256k1` is a separate curve, but `secp256r1` and `prime256v1` are just aliases. I don't really know enough about cryptography and what this library is doing to confidently say whether `secp256k1` should also be lumped in with the other two.

[2020-11-06 08:02] anakinj commented on #362
This was a pretty easy and informative read regards to this subject https://www.johndcook.com/blog/2018/08/21/a-tale-of-two-elliptic-curves/

Think you're right. Think we should just treat `secp256k1` and ´prime256v1´ the `k` version is then something different.

[2020-11-06 08:04] anakinj commented on #362
This was a pretty interesting and easy read on the subject: https://www.johndcook.com/blog/2018/08/21/a-tale-of-two-elliptic-curves/

I think you're right lets keep the `secp256k1` out of this and just treat `secp256r1` and `prime256v1` as the same.

[2020-11-12 16:01] danielweil opened #383 "undefined method `verify' for nil:NilClass when validate a JWT with JWK"
I am trying to validate my JWT token using jwk, the same way it is present in the documentation, but I keep receiving the error:

"undefined method `verify' for nil:NilClass"

Can someone help me?
I get my jwk from my keycloak server, and it is a hash, with the right format.

![image](https://user-images.githubusercontent.com/44274213/98964109-2e6ef100-24e7-11eb-8e9a-789da9f52895.png)

![image](ht

[2020-11-14 09:43] anakinj commented on #383
Looks like you are using version `1.5.6` of the gem. The JWK support was introduced in `2.2.0`.

[2020-11-14 09:46] anakinj commented on #383
Also the latest released version expect the keys to be symbols. The next release will have support for a mix of strings and symbols. Until that you need to symbolize the keys in the hash given to the decode method.

[2020-11-20 05:08] brlafreniere opened #384 "Getting "no verification key available" when sending an authorization token to a rails API"
I'm testing my Devise-JWT setup like this:

[code]

I can receive an Authorization token:

[code]

but sending the same token to a protected endpoint gives me that error.

I don't see any resources available on what to do when this error message is received.

It does seem that this message means that the Authorization header is not being read by the Rails app.

I have already added this to my rail

[2020-12-01 21:02] anakinj commented on #370
Closing this. Think the keyfinder in the gem cannot make these kind of assumptions.

[2020-12-01 21:02] #370 closed

[2020-12-01 21:03] anakinj commented on #354
Closing this. If there are some needs for improving the documentation we are open for suggestions.

[2020-12-01 21:03] #354 closed

[2020-12-01 21:12] anakinj commented on #158
JWKs is now a part of the gems and the symbol vs keys in addressed in the next release.

Closing this now. Feel free to open new issues with suggestions for future improvements are welcome.

[2020-12-01 21:12] #158 closed

[2020-12-01 21:13] #179 closed

[2020-12-01 21:16] anakinj commented on #313
This is fixed in master: https://github.com/jwt/ruby-jwt/commit/83b6e61fc4a2b80f4952b992ebc5f63a6b906441

[2020-12-02 20:47] anakinj commented on #383
Closing this. Please reopen if there are some issues with this and the latest versions of the GEM.

[2020-12-02 20:47] #383 closed

[2020-12-03 20:35] anakinj commented on #334
I think you are correct. Now I wonder how we could make this right. The feature has been out in the wild for a pretty long time already and encoded tokens get this incorrect `alg` header.

I would suggest:
- Not to change the generated `alg` header (The decoding should not care about the given header anyway)
- Start supporting the correct algorithm (EdDSA) in the decode method

[2020-12-12 19:56] anakinj commented on #362
Think #385 should fix this problem

[2020-12-14 16:12] recurser opened #389 "How to use a 'signing key' as used by next-auth"
I'm trying to use [next-auth](https://next-auth.js.org/providers/apple#example-jwt-code) on the frontend backed by a Rails API. The JWT tokens generated by the frontend use a `signingKey` ([see docs](https://next-auth.js.org/warnings#jwt_auto_generated_signing_key)). The key looks like this:

[code]

I can't get the tokens generated by the frontend to verify in Ruby (`Signature verification raised

[2020-12-15 04:13] mengkuan opened #392 "JWT::JWK::EC needs `require 'forwardable'`"
Using ruby 2.7.1 and trunk version of jwt (dc946fa), I get the following error when trying to verify a token:

[code]

Adding `require 'forwardable'` to the top of `ec.rb` resolves this.

[2020-12-15 06:42] anakinj commented on #392
Thanks for the report.

There are some changes to the new algorithms in the making, this also removes the dependency to the forwardable module.

https://github.com/jwt/ruby-jwt/pull/388

[2020-12-15 07:15] mengkuan commented on #392
I see. In this case I'll close this ticket. Thanks!

[2020-12-15 07:15] #392 closed

[2020-12-15 16:14] recurser commented on #389
I've figured this out - the signing key created via `jose newkey -s 256 -t oct -a HS512` is using type `oct`, but the `ruby-jwt` [docs](https://github.com/jwt/ruby-jwt/blob/ef8718b25e6b81d65312a0ef0a7f5fe8b6eae96b/README.md#json-web-key-jwk) state that it `Currently only supports RSA public keys`.

To use `ruby-jwt` with `next-auth`:

1. Creating an `rsa` signing key (`jose newkey -t rsa`)
1. Add

[2020-12-15 16:14] #389 closed

[2020-12-21 14:06] anakinj opened #394 "Support for OKP JWK keys"
We could have support for the representing Ed25519 keys as JWK. To widen the support for the different algorithms.

This was already started here: #388, but the JWK classes need some rework to logically fit the "signing-only" algorithm. This work is ongoing and after that finishes the initial implementation for the OKP keytype will be trivial.

https://tools.ietf.org/html/rfc8037

[2020-12-21 20:16] anakinj opened #396 "truffleruby-head build is failing"
The truffleruby build is failing for some reason. For example https://github.com/jwt/ruby-jwt/runs/1591113294

Is there something we could do? @gogainda @eregon

[2020-12-21 20:26] eregon commented on #396
It seems to happen within SimpleCov, I'll try to investigate tomorrow.

[2020-12-22 11:07] eregon commented on #396
It's a bug of `docile`, doing incorrect delegation in https://github.com/ms-ati/docile/blob/f065fc32daeaf04cef387b324a8e340119ac14d0/lib/docile/fallback_context_proxy.rb#L87

It's a bug in general, as some cases with `*args, **kwargs` delegation don't work in CRuby 2.7 either (https://eregon.me/blog/2019/11/10/the-delegation-challenge-of-ruby27.html#ruby-3-style-delegation).
It only triggers on Tr

[2020-12-22 14:35] anakinj commented on #396
Thanks for the investigation (and fix). I think we'll wait it out until a compatible version is released.

I think we would like to move to the other direction, always have Simplecov enabled for a better local dev experience while running the tests.

[2020-12-22 16:58] eregon commented on #396
https://github.com/ms-ati/docile/pull/52#issuecomment-749648892 so it should work for the next build.

[2020-12-23 11:03] anakinj commented on #396
Very nice, it seems to be working. Thanks a bunch!

[2020-12-23 11:03] #396 closed

[2020-12-30 09:34] MatteoPierro opened #400 "Resolving algorithms from JWK when not explicitly specified"
Currently,  `JWT.decode` always expects to have the algorithms provided by the client.
When using JWKs this information can be redundant since supported algorithms can be resolved from the provided keys.
- RSA and HMAC keys can have the `alg` property specifying the algorithm
- EC keys this information can be resolved from the `crv` property

This kind of resolve will be triggered only if the clie

[2021-01-15 08:03] chriso0710 commented on #233
I would like to comment on this (unfortunately) closed issue.
It does not make much sense to me to remove the "typ" from the default headers. I think, the typ should be set by default to "JWT". A missing typ header is prone to causing all kinds of problems and took me a couple of hours to debug in a netlify environment. See details here:
https://community.netlify.com/t/identity-role-based-access-c

[2021-01-19 09:13] elvack commented on #216
[code]
@omartorresrios I have tried the code above and worked well.

[2021-01-19 11:07] scottrobertson opened #401 ""Signature verification raised", yet jwt.io says "Signature Verified""
Hey

Having an odd issue that I cannot seem to replicate very easily.

[code]

This throws a `JWT::VerificationError (Signature verification raised)`

However, if i head over to jwt.io, and type in those exact same values (try it, just copy them from above) it says "Signature Verified"

Any ideas what is wrong here?

[2021-01-19 11:39] excpt commented on #401
Hey @scottrobertson

The given token is invalid.

When entering the token into jwt.io and passing the password the last part of the token changes. The website manipulates the  pasted token. It is not clearly visible. You really need to look. It's confusing.

First you need to paste the password and then paste the token. This ensures that the token is validated and not created with the given passwo

[2021-01-19 11:40] scottrobertson commented on #401
Ah that makes total sense then. What a confusing website ha. It will be an issue on my end, thank you.

[2021-01-19 11:40] #401 closed

[2021-01-19 11:42] excpt commented on #401
Thanks for the fast response.

Have a great day.

[2021-02-01 12:50] nandini-klocrix opened #403 "NameError: uninitialized constant JWT::JWK"
Hi,
I am verifying apple login and verifying token on server side. I am following this doc for reference:
https://styrk.medium.com/handle-apple-sign-in-on-the-server-ruby-on-rails-78f0d3b4991d

But when I call `jwk = JWT::JWK.import` I get error "NameError: uninitialized constant JWT::JWK"

I am also following this gem readme file and getting same error when I run `jwk = JWT::JWK.new(OpenSSL::PKey

[2021-02-04 06:17] anakinj commented on #403
Hello. What version of the jwt gem are you using?

[2021-02-04 06:19] nandini-klocrix commented on #403
jwt (1.5.6)

[2021-02-04 06:25] anakinj commented on #403
Think that is the issue. The JWK features were added in version 2.2.0 (i think)

[2021-02-04 06:27] nandini-klocrix commented on #403
ok, thanks! will try with this version and update it here.

[2021-02-18 15:08] eric-hemasystems commented on #233
FYI, Auth0 started rejecting JWT tokens without the `typ` specified. Specifying it manually restored functionality.

[2021-02-23 16:58] masukomi opened #407 "Version number & changelog on web page is radically out of date"
on <https://jwt.github.io/ruby-jwt/> it currently says

and the last changelog update was 2016-09-19

[2021-02-26 12:13] mattgibson commented on #334
I just ran into this when trying to use a Ruby-generated token in an Elixir app. The Elixir library is using the `alg` header to choose the decryption algorithm and is case-sensitive, so `ED25519` causes a signature error as it can't work out how to handle it, but `Ed25519` works.

[2021-02-26 12:24] anakinj commented on #334
Just out of curiosity, what Elixir library is this?

My biggest concern is that if it is just changed to something else for example old ruby-jwt<-> new ruby-jwt compatibility will at least break.

[2021-02-26 12:38] anakinj commented on #334
If you are in control of the token generation you could change the constant controlling this locally:
`JWT::Algos::Eddsa::SUPPORTED = ["Ed25519"]`

[2021-02-26 12:39] mattgibson commented on #334
I was using [Joken](https://github.com/joken-elixir/joken), but the underlying low level library it uses is [JOSE](https://github.com/potatosalad/erlang-jose)

[2021-02-26 12:40] mattgibson commented on #334
JWT::Algos::Eddsa::SUPPORTED = ["Ed25519"]

Yes, I found that and it worked when generating the tokens. I think for now I'm going to fork the gem and ensure it will decrypt both `Ed25519` and `ED25519` tokens. Thanks for the pointer!

[2021-02-26 12:47] anakinj commented on #334
But apparently this Joken component is expecting the EdDSA algorithms to have the exact curve used in the `alg` field. So changing the alg to `EdDSA` will not make this gem compatible either.

[2021-02-26 18:21] mattgibson commented on #334
Ah, that's a good point. Possibly Joken is not implementing the RFC correctly either.

[2021-02-26 19:41] anakinj commented on #334
Btw. I think the easiest workaround is just to monkeypatch the `JWT::Algos::Eddsa::SUPPORTED` constant. No need for forks.

[code]

[2021-03-16 19:14] renato-zannon commented on #334
I was looking into actually generating the tokens with the correct `"alg"` value (in my case, because I wanted them to be verifiable by [ruby-jose](https://github.com/potatosalad/ruby-jose)), and had to modify a bit more than just the constant.

Specifically, the [conditionals](https://github.com/jwt/ruby-jwt/blob/2cea14fdae439773fafc59640178e5cf7a0af8a4/lib/jwt/algos/eddsa.rb#L11) on `eddsa.rb` w

[2021-03-26 12:33] bouk opened #409 "Release new version"
Hello,

I'd like to use the EC support for JWKs, could you release a new version of the gem?

Thanks! ✨

[2021-03-31 11:21] bouk opened #410 "NoMethodError: undefined method `zero?' for nil:NilClass if JWT has no 'alg' field"
For example:

[code]

I'd expect this to throw a `JWT::IncorrectAlgorithm`, but casecmp here: https://github.com/jwt/ruby-jwt/blob/2cea14fdae439773fafc59640178e5cf7a0af8a4/lib/jwt/decode.rb#L46 returns `nil` if alg is not set, so we get an unexpected NoMethodError.

[2021-04-13 18:31] fabn opened #412 "OpenSSL::PKey::EC::Point::Error: EC_POINT_bn2point: invalid encoding when importing a JWK"
Minimal reproducible  case:

[code]

Getting this error (gem is current master, 2cea14fdae439773fafc59640178e5cf7a0af8a4)

[code]

My OpenSSL Version
[code]

I have no idea on how to fix this...

[2021-04-14 10:24] butsjoh commented on #409
I am also waiting on a bump cause i cannot export the private part of the key ```jwk.export({include_private: true})``` cause that has been added on in the main branch and not in the latest release (2.2.2)

[2021-04-18 08:38] fabn commented on #412
Any feedback about this? I was able to import that key and verify a token signed with it using Java so I assume this is an actual issue in this library. Am I right?

[2021-04-19 23:29] excpt commented on #409
Hey @bouk and @butsjoh

Wanted to  let you know that version 2.2.3 has been released.

[2021-04-20 00:17] excpt commented on #412
Hi @fabn,

I could reproduce the issue.

It looks like `x` and `y` cannot be read or be processed by OpenSSL.

I need to take a deeper dive into that one.

Current hot fix work around for you may be:

Change line `131` in `lib/jwt/jwk/ec.rb` to

[code]

[2021-04-20 06:59] butsjoh commented on #409
thnx !!! much appreciated 👍

[2021-04-20 07:08] #409 closed

[2021-04-20 08:05] excpt commented on #407
Yes. This page could use some love. It got left behind the code issues. There is already something brewing in the background but I think this will take until June.

[2021-04-20 08:50] fabn commented on #412
Hi @excpt

I tried your hotfix and, while it solves the issue I reported (for all 3 failing keys in our keyset), it introduces another issue with the `export` funcionality. Here I have a failing test case (working before code change).

[code]

[code]

The same happens with other public keys I have in PEM format.

[2021-04-20 08:56] excpt commented on #412
Thanks for detailed feedback and the code samples. This will help finding the exact reason for that behavior on ec key import and export.

[2021-04-26 05:54] #410 closed

[2021-05-05 13:11] GlenCorreia commented on #186
Great thanks!

[2021-05-17 15:07] fabn commented on #412
Sorry to bother. Do you had any chance to find a workaround for this?

[2021-05-19 17:01] anakinj commented on #403
Closing this. The JWK features were not present in 1.5.6.

[2021-05-19 17:01] #403 closed

[2021-06-02 10:55] boardfish opened #421 "HMAC section of README outdated"
[This section of the README](https://github.com/jwt/ruby-jwt#algorithms-and-usage) has the following code:

[code]

In particular, this line causes issues: `decoded_token = JWT.decode token, nil, true, { algorithm: 'HS256' }`

At the time of writing, this was probably fine, but now it raises a `JWT::DecodeError: No verification key available`.

[2021-06-02 10:56] boardfish commented on #421
There may be other sections of documentation that suffer from this too.

[2021-06-03 10:52] jakeprime commented on #353
I think there is potential issue here because `to_i` always rounds down. I do not know the exact process that creates the `iat`, but if it rounds both ways we could have false positives. Consider this example:

- Token created at exactly `123.6`
- iat value is rounded up to `124`
- Token is verified at exactly `123.9`
- `to_i` rounds this to `123`
- `124 > 123 # => JWT::InvalidIatError`

*timestam

[2021-06-04 05:27] anakinj commented on #421
Thanks for noticing. Think something changed a few versions back. Maybe I'll remove the whole example from the readme, it does not make sense to use an empty string as secret when signing the payload.

[2021-06-04 05:43] anakinj commented on #353
I have the same concerns as @jakeprime. Some kind of delta would help. But is that allowed in this case?

Or then always ceil the current time. Also now when percision is lower should the check be inclusive. Chainging `>` into `>=`

[code]

[2021-06-04 05:45] anakinj commented on #353
I have the same concerns as @jakeprime. A delta would help, but is that allowed?

[2021-06-04 09:19] boardfish commented on #421
I've opened a PR to do so if it makes sense to. Hope that helps!

I'm also happy to check the rest of the README examples and make sure they're up to scratch.

[2021-06-04 12:41] #421 closed

[2021-06-04 14:19] anakinj commented on #353
Been playing around with this today and I think the problem is not that the values are handled as a floats.

Do you @Elyhaka have some example values that causes this problem. Think that if we start converting `to_i` there will be even more problems with tokens created on the exact same second, like the example @jakeprime pointed out.

Something that could help is to allow giving a validation spec

[2021-06-04 14:37] danleyden commented on #353
In the example above where the token is created at `123.6`, the *correct* value for `iat` should be `123` (not `124`) because the number of (completed) seconds since epoch is only `123`... so the result of disallowing that would actually be correct.

A slightly different example where this may be a problem is with clock drift between the issuer and and checker. If the issuer is running (marginally

[2021-06-04 14:49] anakinj commented on #353
The current check we are discussing is actually something like `raise if iat.to_f > Time.now.to_f` so using `.to_f` actually make the `same second` case valid.

Switching `to_f` -> `to_i` without changing the comparison to `>=` will increase the chance of failure.

[2021-06-04 14:55] anakinj commented on #353
Would like to experiment with the following to improve the iat validation:
- Continue to be exact using to_f on the values
- Introduce a way to allow the client to define how big drift is allowed.

Think how validation of iat should be done is not something that is defined by any standard or specification. So it's up to the validator to choose.

[2021-06-04 19:53] anakinj commented on #353
Wrote a few tests to verify that the current behaviour is as good as it gets without any leeway in the verification #423

Also it seems that taking the leeway into consideration for this verification was removed in #257, reasoning was that there is no mentioning of leeway in the spec.

I think we have two options:
- Remove the iat verification because there is nothing in the RFC saying if and how

[2021-06-04 20:20] anakinj commented on #353
Actually the only verification we can do according to the RFC is that the value is a NumericDate if it's given.

[2021-06-11 11:19] a0960909060 commented on #412
helpers/build-app-list.js

[2021-06-11 11:24] a0960909060 commented on #412
helpers/build-app-list.js

[2021-06-22 16:23] anagai commented on #96
Where is the aud set? Is it set by the token issuer or by app requesting the token?

[2021-06-30 05:51] jtara opened #428 "Support compressed (deflate) payload"
See: [RFC 7516 4.1.3](https://datatracker.ietf.org/doc/html/rfc7516#section-4.1.3)

I am working with:

- [Smart Health Cards - Overview](https://smarthealth.cards/)
- [Smart Health Cards - Specification](https://spec.smarthealth.cards/)

in Ruby.

I'm working in a constrained Ruby environment (Rhomobile platform) and ruby-jwt is well-suited for the environment since it has few dependencies. (I've

[2021-06-30 17:20] jtara commented on #428
I notice that RFC7515 - the JWS spec - does not provide for compression. 7516 is JWE. Not sure how the standards mesh.

Smart Health Cards use a compressed payload but they are not JWE, they are JWS.

[2021-07-02 05:22] joseneto opened #429 "ArgumentError: wrong number of arguments (given 2, expected 1)"
Ruby: 3.0.1
Rails 6.1.4
JWT: 2.3.1

`JWT.decode "111.111.111", nil, false`

works fine if I remove the dots

`JWT.decode "111111111", nil, false`

Give me the error -> ArgumentError: wrong number of arguments (given 2, expected 1)

[2021-07-02 11:39] joseneto commented on #429
The problem was the json version, after updated everything works fine

[2021-07-02 11:39] #429 closed

[2021-07-02 12:20] andyjdavis commented on #244
I have raised a PR with a possible solution to this. Feedback welcome. https://github.com/jwt/ruby-jwt/pull/430

[2021-07-09 07:26] anakinj commented on #428
Im wondering if the jwt gem is the correct place to implement the actual deflating. Maybe this gem could have a way to inject behaviour into the decoding pipeline would make sense that then could be handled in a separate JWE gem?

Would also like to move the JWK handling out of this gem into something that can be plugged into this gem.

I think the EC support is on a semi-good level when not count

[2021-07-15 17:44] jtara commented on #428
I've done a bit more research, and `zip:deflate` is not a standardized public header for JWS. (But it is for JWE).

In the context of Smart Health Cards, it is used as a private header, which is permitted.

This discussion is helpful and relevant: [smart-on-fhir/health-cards Issue 128](https://github.com/smart-on-fhir/health-cards/issues/128)

[2021-07-15 19:29] anakinj commented on #428
Like the idea of making a context specific gem extending the behaviour of ruby-jwt

I could help with playing around with ideas on how to get the decode process extended. The current API is already pretty bloated so i guess that even yet another option will not make it worse, but let's see. Would you be interested in helping out with this one @jtara, it's always easier to get stuff done if there i

[2021-07-15 21:01] anakinj commented on #428
Left something in that #434. Not even close to production ready, but maybe a path that could be taken?

[2021-07-18 11:26] andyjdavis commented on #244
I think this issue can now be closed.

[2021-07-26 12:18] yazinsai opened #435 "ArgumentError in `verify': wrong number of arguments (given 3, expected 1)"
I'm using the sample code shown in the README for `RS256`:

[code]

Instead of getting a `decoded_token` hash, I get this error message:

[code]

This seems to be because `OpenSSL::X509::Certificate.verify` [expects a single argument](https://ruby-doc.org/stdlib-3.0.1/libdoc/openssl/rdoc/OpenSSL/X509/Certificate.html) but is receiving 3:

[code]

[2021-07-27 05:09] xhostcom opened #436 "JWT to memory"
Hi not an issue as such but has anyone used this gem and saved token in memory rather than local storage/cookies in rails? Is there a way of doing that?

Thanks

[2021-08-05 11:41] thomasdarde commented on #435
Any update on this ? Seeing the same issue (with ruby 3)

[2021-08-05 11:43] thomasdarde commented on #429
which json version did you use @joseneto ?

[2021-08-05 11:50] yazinsai commented on #435
None, still waiting for feedback on this.

[2021-08-05 12:22] joseneto commented on #429
Hi @thomasdarde I using now version 2.5.1

`gem 'json', '~> 2.5.1'`

[2021-08-05 13:06] thomasdarde commented on #435
Thanks for the feedback.
I did try this code and it seems to work with latest jwt version without issue 2.2.3.  (FYI my payload was : `payload= {a: "b"}`)

But I did get a very similar issue trying to decode an azure jwt token.

public_key was of type `OpenSSL::X509::Certificate` instead of  `OpenSSL::PKey::RSA` on a `OpenSSL::X509::Certificate` instance you can call public_key and get a `OpenSSL:

[2021-08-06 10:05] gh-spadwal opened #438 "HS512 signature verification fails for valid tokens"
ruby-jwt fails with a Signature verification failed (JWT::VerificationError) error when decoding a valid JWT signed with HS512.

[code]
Exception Stacktrace:
[code]

Provided token is valid token. This token can be also verified at https://jwt.io/

[2021-08-18 18:49] anakinj commented on #438
Hi,

Was trying to reproduce the problem and I am getting the same result using that snippet. But I wonder if the given secret actually is correct?

According to https://jwt.io the signature when using that secret is
```suWFqcqo-BpYJpX9vbkcptvc_yPBF5Q8Aztp0V5ag4tjZtq6OgzsFLFxjfOC7UVoiACZOJdczQO7AWkwGgSLUQ```

This does not match with the provided token in the example:
```-1Bvmzg8xce_Poihu_IoZ_Islj

[2021-08-18 18:57] anakinj commented on #436
Think this gem is not really related to storing tokens. But one way to store tokens in memory would be to have a class variable as storage. This approach is probably only suitable if the tokens are specific for the application and is not that dynamic, like depending on the user of the application.

[code]

[2021-08-18 19:13] anakinj commented on #435
For sure if a `OpenSSL::X509::Certificate` object is given as the public_key there will be some errors. Apparently the `OpenSSL::X509::Certificate#verify` method is to verify the signature of the certificate.

Then why the verification is failing if the certificates public key is given is pretty hard to figure out without more info or some example.

[2021-08-19 06:35] xhostcom commented on #436
OK great thanks

On 18/08/2021, Joakim Antman ***@***.***> wrote:

[2021-08-19 23:52] paragonie-security opened #440 "[SECURITY] Algorithm Confusion Through kid Header"
Initially, `JWT.decode` correctly rejects tokens with an `alg` header that isn't included in `allowed_algorithms`.

https://github.com/jwt/ruby-jwt/blob/3b4a1abf9f26a01de81fa8b81d4e62cc540212cd/lib/jwt/decode.rb#L38

However, this check can be bypassed if multiple keys are permitted, through the `kid` header mechanism:

https://github.com/jwt/ruby-jwt/blob/3b4a1abf9f26a01de81fa8b81d4e62cc540212cd/

[2021-08-20 12:34] anakinj commented on #440
I see the potential issue here. I think the gem is already indirectly doing a type check on the given JWKs when they are imported. So if a RSA public key is picked from the JWKs it cannot be used as the HMAC secret.

The keys are translated into the following Ruby types based on the `kty` property of the JWK:

[code]

The error handling is not pretty in this scenario but the verification will fail

[2021-08-20 14:04] #436 closed

[2021-09-14 15:59] Jony-softdeveloper commented on #96
It is set by the token issuer, but it is totally optional.

[2021-09-18 13:15] johnnyshields opened #444 "Please release new gem version"

[2021-09-30 04:34] #440 closed

[2021-09-30 04:40] anakinj commented on #329
Think that this also addresses the problem: https://github.com/garyf/json_web_token/pull/6

[2021-10-03 22:20] #329 closed

[2021-11-19 06:05] andyjdavis commented on #244
This issue is resolved by changes available in version 2.3.0. https://github.com/jwt/ruby-jwt/releases/tag/v2.3.0

I don't have the ability to mark this issue as closed. Is someone else able to?

[2021-11-19 06:41] #244 closed

[2021-12-17 10:03] HoneyryderChuck opened #455 "RBS signatures"
I've noticed that `jwt` doesn't ship with rbs signatures yet. Is this something the project would like to have going forward?

[2021-12-27 13:46] lilisako commented on #438
As anakinj said the secret does not match to the result from https://jwt.io/. Here is the copy-pastable example.
[code]

[2021-12-27 19:37] anakinj commented on #455
Could you describe the issue a little bit more. What are these "RBS" signatures?

[2021-12-27 19:39] anakinj commented on #438
Im going to close this issue. Don't hesitate to comment and we'll re-open if this still needs some attention.

[2021-12-27 19:39] #438 closed

[2021-12-27 20:38] HoneyryderChuck commented on #455
https://www.ruby-lang.org/en/news/2020/12/25/ruby-3-0-0-released/

Ctrl+F "RBS"

[2021-12-27 20:58] anakinj commented on #428
@jtara I've played around with the idea a little more. Would appreciate some input on #460. Got a simple Smart Health Card use case working with the capabilities implemented: https://github.com/jwt/ruby-jwt/pull/460/files#diff-d8d789567978973190503f1f875cbc6a0b6e53a3dc37946ea992bba213282761

[2021-12-27 21:08] excpt commented on #455
This looks interesting. Maybe in the future.
This isn't going to be a priority at the moment.

I am putting this on my watch list of the new things to learn.

[2021-12-27 21:54] HoneyryderChuck commented on #455
Nice. The intent of the question was to know whether you'd be interested in me contributing the sigs and perhaps dialing it in CI.

[2021-12-28 14:58] #59 closed

[2021-12-28 15:02] anakinj commented on #455
Ah, lol.  I thought it was a cryptographic signature algorithm I've never heard of. Now it makes sense :)

[2021-12-28 15:11] anakinj commented on #455
I think that it could bring value to describe the public methods of the gem like this. The challenge maybe is to figure out what the signature actually is :). There is a lot of history.

Would appreciate a little something related to this. Maybe starting with the `JWT` module and `decode` and `encode` methods.

Have not bumped into this for any gems I'm familiar with. Are there some examples out t

[2022-01-09 08:46] lindes commented on #428
Cool!  Thanks for doing this, @anakinj!  I have a similar use case to @jtara, and will try to take a look at this, and let you know how it goes.

[2022-01-16 23:20] dkam commented on #281
Is it by design that verification passes when `verify_expiration: true` is given, but there's no expiry set in the token?

I want to ensure that an exp is set and this seemed like a good way to achieve that. I'm aware that I can check `exp` exists in the payload after decoding, but I liked the idea of JWT raising an exception if `verify_expiration: true` was given with no `exp`.

[2022-01-17 07:46] danleyden commented on #281
@dkam I believe this is intentional and correct behaviour. Because the `exp` claim is optional (see https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4) the token is not considered to have expired if there is no `exp` claim. The `verify_expiration` option is there to allow you to ignore the claim in the unusual case that you need to.

If your policy is to require an `exp` claim, you need t

[2022-01-17 12:45] dkam commented on #281
Thank @danleyden - required claim does exactly what I was after.

[2022-02-01 08:32] bouk opened #468 "Release new version"
Hi there,

Since the openssl 3.0.0 gem is out, this gem is not compatible without this fix: https://github.com/jwt/ruby-jwt/pull/452

Could you please cut a new version?

Thank you!

[2022-02-11 13:14] vincentlkl opened #469 "Encode output with extra quote"
payload = "test"
token = JWT.encode payload, rsa_private_key, 'RS256'

when I paste the token to
https://dinochiesa.github.io/jwt/
I am getting
"test"

It cannot decode it to as a raw text
test
** without the double quote

[2022-02-11 17:37] anakinj commented on #469
The behaviour you are seeing is in line with the [JWT RFC](https://datatracker.ietf.org/doc/html/rfc7519#section-7.2). The payload is required to be a "valid JSON object", in this case it's a JSON string.

If you want to have custom behaviours when it comes to encoding and decoding there is something in the making in #460. But until that is finished the payload given will always be represented as

[2022-02-11 22:22] dmcinnes opened #470 "Certain non-JWT but decodable strings cause "TypeError: no implicit conversion of String into Integer" on decode"
This is a bit of an edge case, but it's caused some confusion for us.

If a string is given with segments that can be `Base64.urlsafe_decode64` but doesn't match up to the expectation of a JWT, a `TypeError: no implicit conversion of String into Integer` is raised instead of a `JWT::DecodeError`.

An example string is `Mw.x.x` -- the first segment is decoded as the number `3` for the header which

[2022-02-11 23:33] vincentlkl commented on #469
Thanks @anakinj looking forward to that.

I will close this issue as there is a WIP Pr #460

[2022-02-11 23:34] #469 closed

[2022-02-19 10:04] dorianmariefr opened #471 "Is there a way to decode a ES256 encoded JWT with a root certificate but without a public key or a private key?"
I'm receiving JWT from Apple for In-App-Purchases and would like to verify them when I decode them.

I'm using ruby (with ruby on rails) so I do:

[code]

I get the root certificates from https://www.apple.com/certificateauthority

- Apple Inc. Root
- Apple Computer, Inc. Root
- Apple Root CA - G2 Root
- Apple Root CA - G3 Root

And the payload is base64 encoded JWT, but decoded it looks something

[2022-02-23 14:42] anakinj commented on #470
I think we could be a little stricter on the type validation for the header.

Im guessing there is something in the JWT RFC saying the headers needs to be an object with a certain set of attributes.

Adding `raise(JWT::IncorrectAlgorithm, 'Invalid header') unless header.is_a?(Hash)` somewhere maybe

[2022-03-01 01:22] arkadiyt commented on #468
+1 to this - was hoping to use the new "multiple keys" support but it's not available yet

[2022-03-09 05:55] santhanakarthikeyan opened #473 "Support JWK public URL"
I've created a https://github.com/santhanakarthikeyan/ruby_jwk gem just to support public JWK URL. Could you migrate this feature over here https://github.com/santhanakarthikeyan/ruby_jwk/blob/main/app/controllers/concerns/ruby_jwk/authenticate.rb?

[2022-03-11 13:57] bellebaum opened #474 "Use RFC 7638 JWK Thumbprints as kid"
The current method for calculating JWK `kid`s is something like

[code]

for EC and something similar for RSA. I am unsure if there is some standard that this behavior is based on.

[RFC 7638](https://datatracker.ietf.org/doc/html/rfc7638) describes a canonical way to derive a Thumbprint for a JWK,
the `base64url` encoding of which is advertised as a "good" `kid` is the following:

In some (admitt

[2022-03-11 14:01] bellebaum commented on #474
I should mention that the above current method should result in the same kid for keys with the same coordinates in different curves. I am unsure whether or not that can be a security risk.

[2022-03-16 06:27] anakinj commented on #474
You're right. The kid calculation is pretty random at the moment. Problem with it is that it's "out there" already, so changing it will be somewhat challenging without breaking things.

Think we could at least support calculating the thumbprints for the jwks as a first step.

Looked into the RFC a while ago and did some experimenting. https://github.com/anakinj/ruby-jwt/blob/jwk-okp-support/lib/jw

[2022-04-06 08:44] amree commented on #471
@dorianmariefr Maybe this well help you? https://developer.apple.com/forums/thread/691464

From the website:
[code]

[2022-04-06 12:41] dorianmariefr commented on #471
@amree wow you are the best! thanks

[2022-04-06 12:41] #471 closed

[2022-05-06 12:19] bellebaum opened #478 "On Keys and Algorithms"
This is a sort of "Lessons Learned" combined with a few suggestions this project might want to consider.

### Story time

I have a server that has to verify and decode JWTs from several sources using several algorithms.
Looking at the README for this gem, it strongly suggests hard-coding a parameter called `algorithm` for the `decode` function. Since I do not know the algorithm in advance, I took

[2022-05-08 17:44] anakinj commented on #478
I really like the suggestions here. I would even like to go one step further (if possible): not using the `alg` header for anything more than sorting the `allowed_algorithms` list.

Now the header is still in a pretty big role when it comes to choosing the mechanism to verify the signature.

[2022-05-10 08:53] excpt commented on #478
I'd welcome that change. In my head it would look like this.

Example pseudo code:

This code should raise an error because the 'HS256' algorithm is not in the allowed list.

[code]

[2022-06-03 08:15] raphael-sales opened #482 "JWT encoded using RS256 has invalid signature"
Hi,

I'm using version 2.3.0 to create JWT tokens and have been getting invalid tokens from `JWT.encode` when using the `RS256` algorithm

Steps to reproduce:
[code]

An example token generated by this snippet:
[code]

This will then cause validation problems in the decode part as it will have an invalid signature.

I'm using a Mac M1, so I'm not sure if this is a problem related to my own environ

[2022-06-03 13:29] raphael-sales commented on #482
I've since reproduced this in a x86/64 system with Ubuntu server, so it doesn't seem to be related to M1 or ARM.

Ruby version 2.7.4

[2022-06-03 15:02] bellebaum commented on #482
The JWS looks fine to me, and I have no problems decoding. How did you try to verify the token?

Full example:

[code]

[2022-06-07 07:25] raphael-sales commented on #482
@bellebaum when I go to jwt.io, it complains about its signature [here](https://jwt.io/#debugger-io?token=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjE2NTQ1ODgwMzUsImlzcyI6MSwic3ViIjoxLCJhdWQiOiJodHRwOi8vbW9jay11cmwvIn0.GXXaX1Vg2kyf7TGTxNbIfaHSvRaGqnwWhupEyin0g354AErEsIV5sNcuD3eF0qDc6MQ5QazlXiq-BQ8eZlMen8j_Xu21HTI3LNnoIytR-2JiJft7SQJsS2N_fd7vFn2SBhVHIVx4aqRmIx0A5Lr36x84PCPgLCB_m6jis71dBohpoXn9Pm4caVkkiz4zgYwJ3

[2022-06-07 08:05] bellebaum commented on #482
I have had problems with jwt.io before when trying to verify signatures.
Recreating your example, I did not get an error.

Decoding example (using a new key and token):

[code]

[2022-06-07 08:30] raphael-sales commented on #482
Such a Magic/More Magic [moment](http://catb.org/esr/jargon/html/magic-story.html). Your example worked and now I can't reproduce the problem anymore.

So weird.

[2022-06-07 08:31] freakyfelt opened #483 "Regression: 2.4.0 results in an ArgumentError with an invalid Base64 string (expecting JWT::DecodeError)"
Calling JWT.decode(token) used to result in a JWT::DecodeError, however this is now raising an `ArgumentError` that must be caught separately

[code]

[2022-06-07 08:36] excpt commented on #483
Thanks for the detailed report of that bug. That's not the intended behavior.

[2022-06-07 08:37] freakyfelt commented on #483
Creating a fix PR, will get it posted momentarily

[2022-06-07 10:29] raphael-sales commented on #482
Ok, it was my bad, I needed to stub the JWKs properly. Apologies for the trouble

[2022-06-07 10:29] #482 closed

[2022-06-07 11:51] #483 closed

[2022-06-07 12:09] anakinj commented on #483
Unfortunate side-effect of using the built-in `Base64.urlsafe_decode64` that internally uses the `Base64.strict_decode64` (previously `Base64.decode64`)

Now I'm a little unsure of what type of Base64 decoding you are supposed to use for a JWT token. The RFC only refers to `Base64url`.

The `Base64.strict_decode64` seems to be according to RFC 4648 whereas the `Base64.decode64` is according to RFC

[2022-06-07 19:28] collimarco opened #487 "JWT.decode broken in v2.4: `unpack1': invalid base64 (ArgumentError)"
The update from v2.3 to v2.4 of this gem breaks our gem.

This is the error:

[code]

Here's the source code that raise the error:
https://github.com/cuber-cloud/cuber-gem/blob/master/lib/cuber/cuberfile_validator.rb#L132

This seems a bug in the latest version of jwt.

[2022-06-07 19:46] collimarco commented on #487
@excpt Our token is valid, it's a license key made with a jwt token and it was working in v2.3. The same jwt token should be also valid in v2.4. That PR seems to only catch errors for invalid tokens, but our token is valid.

[2022-06-07 19:56] anakinj commented on #487
I have a feeling that the more strict base64 decoding is an issue. I'll take a look at this.

[2022-06-07 19:59] excpt commented on #487
I think the same.

@collimarco Do you use base64 with or without padding?

[2022-06-07 20:03] collimarco commented on #487
This is how we generate the token initially:

[code]

[2022-06-07 20:04] excpt commented on #487
Thanks for the fast response.

[2022-06-07 20:23] excpt commented on #487
@collimarco Please test again with the master branch. @anakinj Brought back the old base64 implementation.

[2022-06-07 21:03] anakinj commented on #487
Still a little puzzled what kind of tokens the `::Base64.urlsafe_decode64` is not able to process. Just ran this simple test between 2.3 and 2.4 and it worked pretty nicely.

[code]

[code]

[code]

[code]

[2022-06-08 05:01] anakinj commented on #487
Could the reason for this particular issue  be a newline char in the end of the token that is passed to the `encode` method?

How the non-alphabetic chars are handled seems to be the a significant difference between RFC 2045 and RFC 4648.
(https://datatracker.ietf.org/doc/html/rfc4648#section-3.3)

[2022-06-08 20:40] excpt commented on #468
Version 2.4.1 is released. Have you had the time to test it?

[2022-06-08 21:04] #468 closed

[2022-06-21 03:27] n-studio opened #490 "Rotating keys with ED25519"
I'm trying to implement rotating keys, I'm not sure if I'm doing it right.

[code]

`decode` is supposed to test all keys with `return if Array(@key).any? { |key| verify_signature_for?(key) }` but `verify_signature_for?` will raise an error if the key is invalid instead of returning `false`.

Is it the expected behavior? If not I can submit a PR. If it is the intended behavior how should I impleme

[2022-06-21 19:33] anakinj commented on #487
Im curious if this is such a big issue anyway. Im tempted to bring back the built-in decoding methods with some custom handling like stripping the payload on both ends or something

[2022-06-22 05:55] #490 closed

[2022-06-22 20:02] guillaumewrobel opened #495 "Use OpenSSL 3"
[Heroku-22 stack](https://devcenter.heroku.com/articles/heroku-22-stack#openssl-3) has been released, and it does not support OpenSSL 1.1 but 3.0.

The `ruby-jwt` broke with the following error

`ruby-openssl`v3 [has been released](https://github.com/ruby/openssl/releases/tag/v3.0.0) and should be used

[2022-06-22 20:09] anakinj commented on #473
Hi and thanks for the suggestion (and sorry for the late reply)

Im a little hesitant to include this kind of functionality to this gem because of the complexity of the matter, like caching of JWKs, http libs etc.

But as a separate GEM this kind of functionality would probably make sense.

[2022-06-22 20:17] anakinj commented on #495
Hi, just curious what version of the gem you are using? There was one fix for compatibility with OpenSSL 3.0 released in 2.4.0

Also this error reminds me of something that was fixed in #333

[2022-07-01 15:43] trevorturk opened #498 "Apple Weather / WeatherKit"
I'm going to open and close this issue, but just to help future Googlers looking to use this gem to authenticate with Apple Weather's new WeatherKit REST API, here's a working example via https://developer.apple.com/forums/thread/707418 from @[rubynerd](https://developer.apple.com/forums/profile/rubynerd)

[code]

[2022-07-01 15:44] #498 closed

[2022-07-06 05:10] liamdawson opened #499 "Potential JWK KeyFinder Denial of Service"
Given the example in the README, I understand that `JWT.decode` can be passed a function to load a JWKS, and will subsequently use that to find the key to match the `kid` on the token. The code example indicates that the key set should be reloaded if `options[:invalidate]` is truthy. I went looking for other expected options, and found `JWT::JWK::KeyFinder` - given my understanding of that class:

[2022-07-06 19:39] anakinj commented on #499
Cache invalidation, one of the hardest thing in computer science.

Great sum-up and example of the issue with caching. There are for sure potential problems with the example if used as-is and I would suggest improving the readme on this topic.

Your suggestion of a configurable cache invalidation time is a little tricky because the gem itself does not really know anything about the surroundings fo

[2022-07-07 01:04] liamdawson commented on #499
I like the idea of changing the term `invalidate`.

I agree that it's tricky to provide a one-size-fits-all solution for handling the cache. I guess I'm struggling a bit to understand the point of the loader function in this context, given we're talking about a stateless environment in `#decode`. I haven't confirmed — will the key cache inside the `JWT::JWK::KeyFinder` actually act as a cache for

[2022-07-15 06:24] liamdawson commented on #474
I just tried to use the functionality introduced by #481, taking it straight from the documentation on the repo homepage — unfortunately, that gave me an "uninitialized constant" error, because the functionality is in the current unreleased 2.5.0. Took me a second to realise why the example from the documentation didn't work.

#501 would probably cause similar issues, because `options[:kid_not_fou

[2022-07-29 00:09] liamdawson commented on #499
I think #501 is probably enough to make this issue less likely, so we can probably close this issue.

That said, given that #501 has been merged, we probably need to release a 2.5.0 sooner rather than later — anyone using the documented `:kid_not_found` option on 2.4.1 will never receive a truthy value, as the README is referring to (multiple) features that aren't in the current release. 🤔

[2022-08-02 20:23] mchavarriagam opened #503 "Question: how to use Google API's JWKS uri when encoding JWT payload"
Hi.

I'm currently working on an LTI Advantage implementation, which requires sending an encoded JWT from my platform to an external service. I've been following the LTI reference implementation (https://github.com/IMSGlobal/lti-reference-implementation) which encodes the JWT using the ruby-jwt library, like so:

`JWT.encode(@payload, @rsa_private, 'RS256', kid: @kid)`

The reference implementatio

[2022-08-03 13:47] ptiseo-tegria commented on #495
Just hit this problem with Ubuntu 22.04.1LTS and jwt 2.4.1

[2022-08-04 19:06] anakinj commented on #503
Hi, not really liking issues being a place for questions. Maybe a better place for them would be the "Discussions" area.

Anyway, based on this info it's pretty hard to say what is supposed to happen and how.

Thinking that for sure some google oauth2 public keys will not help, technically it's probably possible to sign payloads with public keys but it would not make any sense. Encryption with the

[2022-08-04 19:11] anakinj commented on #495
Thanks for the report.

Some kind of support for OpenSSL 3.0 will be shipped in the next release of this gem, would be great if someone would try the current master version in a real-world example.

[2022-08-04 19:17] ptiseo-tegria commented on #495
@anakinj maybe I didn't understand, but my issue is a real-world codebase with the 2.4.1 master release? How else can I help?

[2022-08-04 19:32] anakinj commented on #495
Sorry, was a little unclear. Current master being what is on GitHub that will eventually be something greater than 2.4.1, most probably 2.5.0.

The master branch very often contains features and fixes that has not been released yet, as in this case. So for example by looking at the differences from 2.4.1 master you can [compare the v2.4.1 tag with master](https://github.com/jwt/ruby-jwt/compare/v2

[2022-08-04 19:39] ptiseo-tegria commented on #495
Np. Glad to assist. Made the change and got a different error:

[code]

[2022-08-04 19:40] anakinj commented on #495
Super feedback! I'll take a look

[2022-08-04 19:56] anakinj commented on #495
I think I've figured out the issue, fix applied in #504

Could you `bundle update jwt` and try again and see what the next issue is? :)

[2022-08-04 20:14] ptiseo-tegria commented on #495
Happy times, tokens are now being properly en/decoded on our API server. 🥳 Thanks a lot for your time!

[2022-08-04 20:19] anakinj commented on #495
Great. Would suggest switching back to the official releases as soon as the next version is out.

Thanks for helping out to test this, the problem in #504 would probably not have not been caught before the next release and it would have affected everyone, not only the ones with openssl 3 installed.

[2022-08-04 20:52] mchavarriagam commented on #503
@anakinj my bad. Thanks.

[2022-08-04 20:52] #503 closed

[2022-08-09 21:26] ekampp opened #505 "Is there a way to ignore payload key ordering?"
Hey there. I found that hash-key order matters. Is this intentional?

I would expect these two JWT tokens to be the same:

[code]

But they are, in fact, not the same. Note the `joy` vs. `jox` differences.

In the above example, it's exemplified with no secret for the sake of simplicity. But when doing signature verification, this has a genuine impact.

So, is this intentional? If yes, is there a

[2022-08-10 12:59] anakinj commented on #505
If you want to be in control of the order the keys in the hash you either need to provide a sorted hash out of the original one for example like `{ b: 2, a: 1 }.sort.to_h` or use some custom hash implementation that has some other order logic.

I think the default key order in a Ruby hash is the insertion order and therefore you see the behaviour you are describing.

This gem is not touching the h